flows_ananke.json
[{"id":"e7fcc5d5.5b2d78","type":"tab","label":"Timed events"},{"id":"d0ead32e.7ebd5","type":"tab","label":"External events"},{"id":"c610050b.126f78","type":"tab","label":"DataBase"},{"id":"fde5721a.728ac","type":"tab","label":"Imperihome"},{"id":"4719fb37.a251c4","type":"tab","label":"Telegram"},{"id":"454abbf8.fe0c34","type":"tab","label":"Nuimo"},{"id":"6436dcd7.08f434","type":"tab","label":"Experiment"},{"id":"ff32f0cf.4ecb2","type":"tab","label":"alexa smart home"},{"id":"1f170ed7.968cd1","type":"tab","label":"Heartbeat","disabled":false,"info":""},{"id":"7798f15d.db205","type":"subflow","name":"Blinds","info":"","in":[{"x":40,"y":180,"wires":[{"id":"56e34f30.0e206"}]}],"out":[]},{"id":"69832348.ba1dec","type":"subflow","name":"Vera","info":"","in":[{"x":140,"y":120,"wires":[{"id":"689c2ca8.3f5094"}]}],"out":[]},{"id":"1a4faa66.896376","type":"subflow","name":"Switch","info":"","in":[{"x":60,"y":160,"wires":[{"id":"cebf6d9f.744d2"}]}],"out":[]},{"id":"7cb18d7b.cb9054","type":"mqtt-broker","z":"c610050b.126f78","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"2d978abf.91c446","type":"fritzbox-config","z":"6436dcd7.08f434","name":"Fritz","host":"192.168.1.1"},{"id":"f017e0bd.996dd","type":"mqtt-broker","z":"6436dcd7.08f434","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"2e2daa6d.6f7996","type":"dropbox-config","z":"6436dcd7.08f434"},{"id":"b41e0cf2.cd739","type":"mqtt-broker","z":"7798f15d.db205","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d4bf1d8.ad027e","type":"telegram bot","z":"4719fb37.a251c4","botname":"mamahuhu","usernames":"","chatids":""},{"id":"7cdc06ad.4c5be8","type":"mqtt-broker","z":"4719fb37.a251c4","broker":"192.168.0.70","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3e7760d5.2e4f","type":"mqtt-broker","z":"fde5721a.728ac","broker":"192.168.0.70","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"1a5bb169.a4e82f","type":"sonos-config","z":"6436dcd7.08f434","name":"Bedroom","ipaddress":"192.168.0.27","port":"1400"},{"id":"3b229742.9ba4a8","type":"mqtt-broker","z":"e7fcc5d5.5b2d78","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"545b39cc.de11e8","type":"sonos-config","z":"e7fcc5d5.5b2d78","name":"Sonos bedroom","ipaddress":"192.168.0.27","port":"1400"},{"id":"3008a913.f90f96","type":"sonos-config","z":"454abbf8.fe0c34","name":"Bedroom","ipaddress":"192.168.0.27","port":"1400"},{"id":"fde22837.6f6d88","type":"mqtt-broker","z":"454abbf8.fe0c34","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"a509d25.29b283","type":"mqtt-broker","z":"d0ead32e.7ebd5","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"a9d96750.0067d8","type":"mqtt-broker","z":"","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"53d56355.94c04c","type":"json-db-collection","z":"","name":"internal state","collection":"intstate","save":true},{"id":"cccc896.b680478","type":"json-db-collection","z":"6436dcd7.08f434","name":"Test","collection":"test","save":true},{"id":"fcbdeb12.0bc918","type":"json-db-collection","z":"","name":"global array","collection":"globalarray","save":true},{"id":"187b82d3.d5211d","type":"evohome-config","z":"","name":"my evohome","userid":"ferd.scheepers@mamahuhu.nl","passwd":"Extra123$","applid":"91db1612-73fd-4500-91b2-e63b069b185c"},{"id":"726ad751.0b6df8","type":"mqtt-broker","z":"1f170ed7.968cd1","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"234e4814.6d96a8","type":"mqtt-broker","z":"ff32f0cf.4ecb2","broker":"192.168.0.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4b09020c.8b899c","type":"mqtt in","z":"c610050b.126f78","name":"Internal","topic":"/State/#","broker":"7cb18d7b.cb9054","x":90,"y":80,"wires":[["d774469c.f2afa8"]]},{"id":"13f6f633.85389a","type":"function","z":"c610050b.126f78","name":"Filter and set collection","func":"var payobj = JSON.parse(msg.payload);\nif (payobj.type != 'Temp' && payobj.type != 'TempHum') {\n    msg.collection = msg.topic;\n    payobj.date = new Date();\n    msg.payload = payobj;\n    delete msg.topic;\n    return msg;\n}\nelse {\n    return;\n}","outputs":1,"noerr":0,"x":400,"y":80,"wires":[[]]},{"id":"36cc2ae0.1f4606","type":"inject","z":"6436dcd7.08f434","name":"Test blinds","topic":"","payload":"{\"state\": \"down\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":1020,"wires":[["9bcb6606.e424d8"]]},{"id":"9bcb6606.e424d8","type":"mqtt out","z":"6436dcd7.08f434","name":"state","topic":"/State/Firstfloor/Kitchen/Blinds1","qos":"","retain":"","broker":"f017e0bd.996dd","x":420,"y":1020,"wires":[]},{"id":"d41164d.f226e98","type":"fritzbox-in","z":"6436dcd7.08f434","device":"2d978abf.91c446","name":"Fritz","service":"urn:dslforum-org:service:WANIPConnection:1","action":"GetInfo","arguments":"{}","x":350,"y":900,"wires":[["93bf69ff.b8a068"]]},{"id":"9f762238.816e3","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":900,"wires":[["d41164d.f226e98"]]},{"id":"93bf69ff.b8a068","type":"debug","z":"6436dcd7.08f434","name":"","active":false,"console":"false","complete":"false","x":610,"y":900,"wires":[]},{"id":"d96f3e23.9cf1b","type":"comment","z":"6436dcd7.08f434","name":"Test playing with Fritzbox","info":"","x":190,"y":860,"wires":[]},{"id":"297096fa.d7b2ba","type":"comment","z":"6436dcd7.08f434","name":"Inject a message to raise blinds","info":"","x":210,"y":980,"wires":[]},{"id":"bff04009.84563","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":520,"wires":[[]]},{"id":"6766e340.06607c","type":"dropbox out","z":"6436dcd7.08f434","dropbox":"2e2daa6d.6f7996","filename":"","localFilename":"","name":"upload to dropbox","x":690,"y":520,"wires":[["ee9ae4e1.69ef18"]]},{"id":"4060005d.e0f35","type":"function","z":"6436dcd7.08f434","name":"Set names","func":"delete msg.payload;\nmsg.localFilename = '/tmp/2015-07-27T11:00:57.23.jpg';\nmsg.filename = 'sth3.jpg';\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":520,"wires":[["6766e340.06607c"]]},{"id":"b9e989e5.3f2c28","type":"http request","z":"6436dcd7.08f434","name":"POST ","method":"POST","ret":"obj","url":"","x":1130,"y":520,"wires":[["3ec9cd5e.d72352"]]},{"id":"ee9ae4e1.69ef18","type":"function","z":"6436dcd7.08f434","name":"Create POST input","func":"msg.url = 'https://api.dropboxapi.com/2/sharing/create_shared_link'\nmsg.headers = {'User-Agent': 'api-explorer-client', 'Authorization': 'Bearer OBRZ1rxKbUAAAAAAAAAACumvTvc2AP5xpppPh7RxGmpx7UbWLrPWBR7oj3ii_loo', 'Content-Type': 'application/json'};\nvar x = {};\nx.path = '/' + msg.payload\nmsg.payload = JSON.stringify(x);\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":520,"wires":[["b9e989e5.3f2c28"]]},{"id":"3ec9cd5e.d72352","type":"function","z":"6436dcd7.08f434","name":"parse url to Pushover","func":"var url = msg.payload.url.split('?')[0] + '?raw=1';\nmsg.payload = url;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":520,"wires":[["a5dd0b99.2c8b18","9cf4b3.cb707b5"]]},{"id":"a5dd0b99.2c8b18","type":"pushover","z":"6436dcd7.08f434","name":"Pushover","device":"","title":"doorbell","priority":0,"sound":"","x":1560,"y":520,"wires":[]},{"id":"9cf4b3.cb707b5","type":"freeboard","z":"6436dcd7.08f434","name":"deur","x":1550,"y":599,"wires":[]},{"id":"56e34f30.0e206","type":"function","z":"7798f15d.db205","name":"Internal handler","func":"var id_array = global.get(\"globdata\");\n//var c = JSON.parse(msg.payload);\n//var topicar = msg.topic.split('/');\n//node.warn(msg.topic);\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i][\"Internal\"] == msg.topic) {\n        if (id_array[i].Type == 'Blinds') {\n            if (id_array[i].Master == 'Arduino') {\n                var command = {};\n                command.arduino_id = id_array[i].Arduino.substr(0,1);\n                if (msg.payload.state == 'up') {\n                    command.device_id = id_array[i].Arduino.substr(2,1);\n                }\n                else if (msg.payload.state == 'down') {\n                    command.device_id = id_array[i].Arduino.substr(4,1);\n                }\n                command.command = 'push';\n                ardmsg = {payload: JSON.stringify(command)};\n                return [ardmsg, null]\n            }\n            if (id_array[i].Master == 'Esp') {\n                var command = {};\n                command.command = msg.payload.state;\n                ardmsg = {payload: JSON.stringify(command)};\n                ardmsg.topic = 'Command/Esp/Bl1';\n                return [ardmsg, null]\n            }\n            else if (id_array[i].Master == 'Rfxcom') {\n                var command = {};\n                command.deviceid = id_array[i].Rfxcom;\n                command.command = msg.payload.state;\n                rfxmsg = {payload: JSON.stringify(command)};\n                return [null, rfxmsg]\n            }\n        }\n    }\n}\n//return msg;","outputs":"2","noerr":0,"x":240,"y":180,"wires":[["d669f69.d9e0b08"],["4c8aab17.2a6324"]]},{"id":"4c8aab17.2a6324","type":"mqtt out","z":"7798f15d.db205","name":"RFXcom","topic":"Command/Rfxcom","qos":"","retain":"","broker":"b41e0cf2.cd739","x":520,"y":200,"wires":[]},{"id":"1b7cdac3.805db5","type":"http request","z":"69832348.ba1dec","name":"GET Vera url","method":"GET","ret":"txt","url":"","x":470,"y":120,"wires":[["447e2def.0ac444"]]},{"id":"689c2ca8.3f5094","type":"function","z":"69832348.ba1dec","name":"Vera API call","func":"if (msg.payload.type == 'Switch') {\n    msg.url='http://192.168.0.24:3480/data_request?id=action&output_format=json&DeviceNum='+msg.payload.id+'&serviceId=urn:upnp-org:serviceId:SwitchPower1&action=SetTarget&newTargetValue='+msg.payload.value;\n}\nif (msg.payload.type == 'Dimmer') {\n    msg.url='http://192.168.0.24:3480/data_request?id=lu_action&DeviceNum='+msg.payload.id+'&action=SetLoadLevelTarget&serviceId=urn:upnp-org:serviceId:Dimming1&newLoadlevelTarget='+msg.payload.value+'&output_format=json';\n}\n\n//'/data_request?id=lu_action&DeviceNum=' +id+ '&action=SetLoadLevelTarget&serviceId=urn:upnp-org:serviceId:Dimming1&newLoadlevelTarget=' +value+ '&output_format=json'\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["1b7cdac3.805db5"]]},{"id":"447e2def.0ac444","type":"debug","z":"69832348.ba1dec","name":"","active":true,"console":"false","complete":"statusCode","x":660,"y":120,"wires":[]},{"id":"fa3d230d.b0b3a","type":"comment","z":"69832348.ba1dec","name":"Based on type, call the appropriate API on Vera to set Switched, Dimmers or Scenes","info":"","x":440,"y":60,"wires":[]},{"id":"d7b95a16.3e5ba8","type":"telegram receiver","z":"4719fb37.a251c4","name":"test","bot":"d4bf1d8.ad027e","x":130,"y":540,"wires":[["a2274e25.d118f"],["a2274e25.d118f"]]},{"id":"a2274e25.d118f","type":"debug","z":"4719fb37.a251c4","name":"","active":false,"console":"false","complete":"true","x":290,"y":540,"wires":[]},{"id":"605a66b7.304db8","type":"debug","z":"4719fb37.a251c4","name":"","active":true,"console":"false","complete":"false","x":750,"y":540,"wires":[]},{"id":"8e9ae71b.6003a8","type":"function","z":"4719fb37.a251c4","name":"create question","func":"msg.payload.type = 'message';\nmsg.payload.content = 'Really?';\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":600,"y":620,"wires":[["8c477bde.3e5d48"]]},{"id":"2bb47c56.777aa4","type":"telegram command","z":"4719fb37.a251c4","name":"/foo","command":"/foo","bot":"d4bf1d8.ad027e","x":428,"y":626,"wires":[["8e9ae71b.6003a8"],[]]},{"id":"8c477bde.3e5d48","type":"telegram sender","z":"4719fb37.a251c4","name":"send question","bot":"d4bf1d8.ad027e","x":790,"y":620,"wires":[["4e9a8c62.7a5e24"]]},{"id":"4e9a8c62.7a5e24","type":"telegram reply","z":"4719fb37.a251c4","name":"get reply","bot":"d4bf1d8.ad027e","x":985,"y":620,"wires":[["9d0db59a.63bdc8"]]},{"id":"9d0db59a.63bdc8","type":"function","z":"4719fb37.a251c4","name":"switch answer","func":"node.warn(\"x\")\nif(msg.payload.content === 'Yes')\n{\n    return [msg, null];   \n}\nelse\n{\n    return [null, msg];   \n}\n","outputs":"2","noerr":0,"x":1157,"y":620,"wires":[["314e985a.bd0d88"],["82a9bded.9307d"]]},{"id":"314e985a.bd0d88","type":"debug","z":"4719fb37.a251c4","name":"Yes","active":true,"console":"false","complete":"payload","x":1359,"y":604,"wires":[]},{"id":"82a9bded.9307d","type":"debug","z":"4719fb37.a251c4","name":"No","active":true,"console":"false","complete":"payload","x":1359,"y":651,"wires":[]},{"id":"62490c28.7c9d94","type":"telegram command","z":"4719fb37.a251c4","name":"/all","command":"/all","bot":"d4bf1d8.ad027e","x":400,"y":740,"wires":[["f6389c2c.b305c"],[]]},{"id":"f6389c2c.b305c","type":"debug","z":"4719fb37.a251c4","name":"","active":true,"console":"false","complete":"false","x":600,"y":760,"wires":[]},{"id":"3bbd5a91.db4266","type":"telegram command","z":"4719fb37.a251c4","name":"/help","command":"/help","bot":"d4bf1d8.ad027e","x":110,"y":40,"wires":[["93900e5f.c5e95","53449903.3fdae8","66ce1efb.c943e"],["66ce1efb.c943e"]]},{"id":"93900e5f.c5e95","type":"function","z":"4719fb37.a251c4","name":"help","func":"var helpmsg = \"/help - shows help\\r\\n\";\nhelpmsg += \"/status - shows the status of the home\\r\\n\";\nhelpmsg += \"/all off - turns all devices off\\r\\n\";\nhelpmsg += \"/holiday on/off - holiday state on or off\\r\\n\";\nhelpmsg += \"Your username is \" +msg.originalMessage.from.username+ \"\\r\\n\";\nhelpmsg += \"Your Chatid is \" + msg.payload.chatId;\nmsg.payload.content = helpmsg;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[["bf8502c2.8c857"]]},{"id":"bf8502c2.8c857","type":"telegram sender","z":"4719fb37.a251c4","name":"reply help","bot":"d4bf1d8.ad027e","x":660,"y":40,"wires":[[]]},{"id":"53449903.3fdae8","type":"function","z":"4719fb37.a251c4","name":"set global chat id","func":"var chatid = global.get(\"ChatId\");\nif (chatid != msg.payload.chatId) {\n    global.set(\"ChatId\",msg.payload.chatId);\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[[]]},{"id":"f5aa55ea.4cedb8","type":"telegram command","z":"4719fb37.a251c4","name":"/status","command":"/status","bot":"d4bf1d8.ad027e","x":110,"y":120,"wires":[["53449903.3fdae8","d68db0aa.f2419"],[]]},{"id":"1fde7d26.3f95f3","type":"telegram sender","z":"4719fb37.a251c4","name":"reply status","bot":"d4bf1d8.ad027e","x":670,"y":120,"wires":[[]]},{"id":"d68db0aa.f2419","type":"function","z":"4719fb37.a251c4","name":"status","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["1fde7d26.3f95f3"]]},{"id":"b11e5c04.a34b1","type":"telegram command","z":"4719fb37.a251c4","name":"/holiday","command":"/holiday","bot":"d4bf1d8.ad027e","x":110,"y":280,"wires":[["53449903.3fdae8","cf91a9e4.0fcf98"],[]]},{"id":"cf91a9e4.0fcf98","type":"function","z":"4719fb37.a251c4","name":"holiday","func":"var intmsg = {};\nvar inter = {type:'Switch'};\nintmsg.topic = '/State/None/Virtual/Holiday';\nvar globvar = intmsg.topic.split('/')[3]+intmsg.topic.split('/')[4];\nif (msg.payload.content == ' on') {\n    msg.payload.content = 'holiday state set to on'\n    global.set(globvar,'1');\n    inter.state = 'on';\n    intmsg.payload = JSON.stringify(inter);\n}\nelse if (msg.payload.content == ' off') {\n    msg.payload.content = 'holiday state set to off'\n    global.set(globvar,'0');\n    inter.state = 'off';\n    intmsg.payload = JSON.stringify(inter);\n}\nelse {\n    msg.payload.content = ' unknown instruction. Only on or off are accepted'\n    intmsg = null;\n}\nreturn [msg, intmsg];","outputs":"2","noerr":0,"x":320,"y":280,"wires":[["94bc623f.06e76"],["e17f319.a230bd"]]},{"id":"26e3ab43.868424","type":"telegram command","z":"4719fb37.a251c4","name":"/all off","command":"/all","bot":"d4bf1d8.ad027e","x":110,"y":360,"wires":[["53449903.3fdae8","9029227a.95a41"],[]]},{"id":"9029227a.95a41","type":"function","z":"4719fb37.a251c4","name":"all off","func":"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["48305a44.1946f4"]]},{"id":"48305a44.1946f4","type":"telegram sender","z":"4719fb37.a251c4","name":"reply all off","bot":"d4bf1d8.ad027e","x":670,"y":360,"wires":[[]]},{"id":"94bc623f.06e76","type":"telegram sender","z":"4719fb37.a251c4","name":"reply holiday","bot":"d4bf1d8.ad027e","x":670,"y":240,"wires":[[]]},{"id":"88865f29.71266","type":"mqtt in","z":"6436dcd7.08f434","name":"","topic":"Heartbeat/#","qos":"2","broker":"f017e0bd.996dd","x":160,"y":740,"wires":[["37fe1306.68e3bc"]]},{"id":"37fe1306.68e3bc","type":"debug","z":"6436dcd7.08f434","name":"","active":false,"console":"false","complete":"false","x":340,"y":740,"wires":[]},{"id":"573bdeb2.121ac","type":"status","z":"6436dcd7.08f434","name":"","scope":["88865f29.71266"],"x":680,"y":760,"wires":[["b86f4854.fe00e8"]]},{"id":"b86f4854.fe00e8","type":"debug","z":"6436dcd7.08f434","name":"","active":false,"console":"false","complete":"true","x":900,"y":760,"wires":[]},{"id":"e17f319.a230bd","type":"mqtt out","z":"4719fb37.a251c4","name":"","topic":"","qos":"","retain":"","broker":"7cdc06ad.4c5be8","x":650,"y":300,"wires":[]},{"id":"89410a05.a6d528","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1380,"y":800,"wires":[["df96117.1bcd9f"]]},{"id":"df96117.1bcd9f","type":"mqtt out","z":"6436dcd7.08f434","name":"","topic":"timer/reset","qos":"","retain":"","broker":"f017e0bd.996dd","x":1620,"y":820,"wires":[]},{"id":"cd2150af.4df7a","type":"comment","z":"c610050b.126f78","name":"Write all updates to the Database, except for Temp and TempHum","info":"","x":280,"y":40,"wires":[]},{"id":"146f5e29.682612","type":"inject","z":"c610050b.126f78","name":"Every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":130,"y":240,"wires":[[]]},{"id":"6cef81ec.79108","type":"function","z":"c610050b.126f78","name":"persist fast changing values to DataBase","func":"var id_array = global.get(\"foo\");\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Type == 'Temp' || id_array[i].Type == 'TempHum') {\n        var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n        var globval = global.get(globvar);\n        var payobj = {}\n        msg.collection = id_array[i].Internal;\n        payobj.temperature = globval.temperature;\n        if (id_array[i].Type == 'TempHum') {\n            payobj.humidity = globval.humidity;\n        }\n        payobj.type = id_array[i].Type;\n        payobj.date = new Date();\n        msg.payload = payobj;\n        delete msg.topic;\n        node.send(msg);\n    }\n}\nreturn;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[[]]},{"id":"c71463e8.927b7","type":"comment","z":"c610050b.126f78","name":"for Temp and TempHum, update every 5 minures","info":"","x":230,"y":200,"wires":[]},{"id":"1b0ae962.32d5b7","type":"http in","z":"fde5721a.728ac","name":"","url":"/test1/system","method":"get","swaggerDoc":"","x":150,"y":80,"wires":[["41ef86e8.26b688"]]},{"id":"cc9dea27.48a078","type":"http in","z":"fde5721a.728ac","name":"","url":"/test1/devices","method":"get","swaggerDoc":"","x":150,"y":120,"wires":[["68cf42aa.b0ac8c"]]},{"id":"37c47a91.d079f6","type":"http in","z":"fde5721a.728ac","name":"","url":"/test1/rooms","method":"get","swaggerDoc":"","x":150,"y":160,"wires":[["37e2886e.c6b438"]]},{"id":"6bec2bd.455b7d4","type":"http response","z":"fde5721a.728ac","name":"","x":530,"y":120,"wires":[]},{"id":"41ef86e8.26b688","type":"function","z":"fde5721a.728ac","name":"System","func":"msg.payload = { \"id\": \"ISS:Test:01\", \"apiversion\": 1};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["6bec2bd.455b7d4"]]},{"id":"68cf42aa.b0ac8c","type":"function","z":"fde5721a.728ac","name":"Devices","func":"var id_array = global.get(\"foo\");\nvar devarray = [];\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Imp) {\n        var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n        var rname = id_array[i].Internal.split('/')[3]\n        var globval = global.get(globvar);\n        dname = id_array[i].Internal.split('/')[4];\n        if (id_array[i].Type == 'Switch') {\n            devi = {\"id\" : id_array[i].Imp, \"name\" : dname, \"room\": rname, \"type\": \"DevSwitch\", \"params\" : [{\"key\": \"pulseable\", \"value\": \"0\"}, {\"key\": \"status\", \"value\": globval.state}]};\n            devarray.push(devi)\n        }\n        if (id_array[i].Type == 'TempHum') {\n            devi = {\"id\" : id_array[i].Imp, \"name\" : dname, \"type\": \"DevTempHygro\", \"room\": rname, \"params\" : [{\"key\": \"temp\", \"value\": globval.temperature}, {\"key\": \"hygro\", \"value\": globval.humidity}]}\n            devarray.push(devi)\n        }\n        if (id_array[i].Type == 'Blinds') {\n            //devi = {\"id\" : id_array[i].Imp, \"name\" : dname, \"type\": \"DevShutter\", \"room\": rname, \"params\" : [{\"key\": \"pulseable\", \"value\": \"0\"}, {\"key\": \"stopable\", \"value\": \"1\"}, {\"key\": \"level\", \"value\": '50'}]};\n            devi = {\"id\" : id_array[i].Imp, \"name\" : dname, \"type\": \"DevShutter\", \"room\": rname, \"params\" : [{\"key\": \"pulseable\", \"value\": \"0\"}, {\"key\": \"stopable\", \"value\": \"1\"}, {\"key\": \"level\", \"value\": globval.state}]};\n            devarray.push(devi)\n        }\n        if (id_array[i].Type == 'Dimmer') {\n            devi = {\"id\" : id_array[i].Imp, \"name\" : dname, \"type\": \"DevDimmer\", \"room\": rname, \"params\" : [{\"key\": \"status\", \"value\": globval.state}, {\"key\": \"level\", \"value\": globval.level}]};\n            devarray.push(devi)\n        }\n        if (id_array[i].Type == 'Therm') {\n            devi = {\"id\" : id_array[i].Imp, \"name\" : dname, \"type\": \"DevThermostat\", \"room\": rname, \"params\" : [{\"key\": \"curtemp\", \"value\": globval.temperature}, {\"key\": \"cursetpoint\", \"value\": globval.setpoint}]};\n            devarray.push(devi)\n        }\n    }\n}\nmsg.payload = {\"devices\": devarray }\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["6bec2bd.455b7d4","44743d6d.edbd54"]]},{"id":"37e2886e.c6b438","type":"function","z":"fde5721a.728ac","name":"Rooms","func":"var id_array = global.get(\"foo\");\nvar roomarray = [];\nnode.warn ('here we go')\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Imp) {\n        var rname = id_array[i].Internal.split('/')[3]\n        if (JSON.stringify(roomarray).indexOf(rname) == -1) {\n            node.warn(rname);\n            var room = {\"id\": rname, \"name\": rname};\n            roomarray.push(room);\n        }\n    }\n}\n//node.warn(roomarray);\nif (JSON.stringify(roomarray).indexOf('Shed') > -1) {\n    node.warn('ok')\n}\n//msg.payload = {\"rooms\": [{ \"id\": \"roomID1\", \"name\": \"Computer Room\" }]};\nmsg.payload = {\"rooms\": roomarray }\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["6bec2bd.455b7d4","44743d6d.edbd54"]]},{"id":"9f92afab.221af","type":"http in","z":"fde5721a.728ac","name":"ISS Rest Actions","url":"/test1/devices/:deviceID/action/:actionName/:actionParameter","method":"get","swaggerDoc":"","x":140,"y":360,"wires":[["af1de776.f91208"]]},{"id":"af1de776.f91208","type":"function","z":"fde5721a.728ac","name":"Handle Imperihome","func":"var id_array = global.get(\"foo\");\nvar intmsg = {};\nvar veramsg = {payload:{}};\nvar blindmsg = {};\nvar evomsg = {payload:{}};\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Imp == msg.req.params.deviceID) {\n        if (id_array[i].Type == 'Switch') {\n            var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n            var globval = {};\n            globval.state = msg.req.params.actionParameter;\n            global.set(globvar,globval);\n            var inter = {};\n            inter.type = id_array[i].Type;\n            if (msg.req.params.actionParameter == 0) {\n                inter.state = 'off';\n            }\n            else if (msg.req.params.actionParameter == 1) {\n                inter.state = 'on';\n            }\n            intmsg = {payload: JSON.stringify(inter), topic: id_array[i].Internal};\n            if (id_array[i].Vera) {\n                veramsg.payload.value = msg.req.params.actionParameter;\n                veramsg.payload.id = id_array[i].Vera;\n                veramsg.payload.type = id_array[i].Type;\n            }\n            node.send([intmsg, veramsg, null, null, msg]);\n        }\n        if (id_array[i].Type == 'Blinds') {\n            var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n            var globval = {};\n            globval.state = msg.req.params.actionParameter;\n            global.set(globvar,globval);\n            var inter = {};\n            inter.type = id_array[i].Type;\n            if (msg.req.params.actionParameter == 0) {\n                inter.state = 'down';\n            }\n            else if (msg.req.params.actionParameter == 100) {\n                inter.state = 'up';\n            }\n            intmsg = {payload: JSON.stringify(inter), topic: id_array[i].Internal};\n            blindmsg = {payload: inter, topic: id_array[i].Internal};\n            node.send([intmsg, null, blindmsg, null, msg]);\n        }\n        if (id_array[i].Type == 'Dimmer') {\n            var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n            var oldglobval = global.get(globvar);\n            var globval = {};\n            if (msg.req.params.actionName == 'setLevel') {\n                globval.state = oldglobval.state;\n                globval.level = msg.req.params.actionParameter;\n                if (oldglobval.state == '1') {\n                    if (id_array[i].Vera) {\n                        veramsg.payload.value = msg.req.params.actionParameter;\n                        veramsg.payload.id = id_array[i].Vera;\n                        veramsg.payload.type = id_array[i].Type;\n                    }\n                }\n            }\n            else if (msg.req.params.actionName == 'setStatus') {\n                globval.state = msg.req.params.actionParameter;\n                globval.level = oldglobval.level;\n                if (id_array[i].Vera) {\n                    if (msg.req.params.actionParameter == '0') {\n                        veramsg.payload.value = '0';\n                        veramsg.payload.id = id_array[i].Vera;\n                        veramsg.payload.type = id_array[i].Type;\n                    }                    \n                    else {\n                        veramsg.payload.value = oldglobval.level;\n                        veramsg.payload.id = id_array[i].Vera;\n                        veramsg.payload.type = id_array[i].Type;\n                    }\n                }\n            }\n            global.set(globvar, globval);\n            //internal still missing!!!!!!\n            node.send([intmsg, veramsg, null, null, msg]);\n            node.warn(msg.req.params);\n            node.warn(oldglobval);\n            node.warn(globval);\n        }\n        if (id_array[i].Type == 'Therm') {\n            node.warn('hi');\n            var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n            //node.warn(msg.req.params);\n            //node.warn(msg.req.params.actionParameter);\n            oldglobval = global.get(globvar);\n            var globval = {};\n            globval.setpoint = msg.req.params.actionParameter;\n            globval.temperature = oldglobval.temperature;\n            global.set(globvar,globval);\n            evomsg.payload.id = id_array[i].Evohome;\n            evomsg.payload.internal = id_array[i].Internal;\n            evomsg.payload.setpoint = msg.req.params.actionParameter;\n            node.send([null, null, null, evomsg, msg]);\n        }\n    }\n}\nmsg.payload = { \"success\": true, \"errormsg\": \"ok\" };\nreturn;","outputs":"5","noerr":0,"x":360,"y":360,"wires":[["28646ac0.0e68d6"],["b9a087b6.051f38"],["eb7193b3.82b74"],["1ca4de93.119ec1"],["8b9e8702.dc4ff8"]]},{"id":"8b9e8702.dc4ff8","type":"http response","z":"fde5721a.728ac","name":"","x":610,"y":480,"wires":[]},{"id":"44743d6d.edbd54","type":"debug","z":"fde5721a.728ac","name":"","active":false,"console":"false","complete":"false","x":570,"y":160,"wires":[]},{"id":"1ca4de93.119ec1","type":"delay","z":"fde5721a.728ac","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":420,"wires":[["4526d31c.d9064c","bb398585.2e35f8"]]},{"id":"4526d31c.d9064c","type":"function","z":"fde5721a.728ac","name":"Determine stable setpoint","func":"var globvar = msg.payload.internal.split('/')[3]+msg.payload.internal.split('/')[4];\nvar globval = global.get(globvar);\nif (msg.payload.setpoint == globval.setpoint) {\n    intmsg = {topic: msg.payload.internal};\n    intmsg.payload = JSON.stringify({type: \"Therm\", setpoint: globval.setpoint, temperature : globval.temperature});\n    node.send([intmsg, msg]);\n}\nreturn;","outputs":"2","noerr":0,"x":870,"y":420,"wires":[["abc864b8.8a6138"],["d287aac5.e70d98"]]},{"id":"d287aac5.e70d98","type":"python-function","z":"fde5721a.728ac","name":"Set zone setpoint","func":"import sys\nfrom evohomeclient import EvohomeClient\npayload = msg['payload']\nzone = payload['id']\nsetpoint = payload['setpoint']\nclient = EvohomeClient('ferd.scheepers@mamahuhu.nl', 'Extra123$')\n\n#zone = sys.argv[1] \n#temperature = sys.argv[2]\n#print temperature\nclient.set_temperature(int(zone), float(setpoint)) # set permanent\nreturn msg","outputs":1,"x":1130,"y":460,"wires":[[]]},{"id":"28646ac0.0e68d6","type":"mqtt out","z":"fde5721a.728ac","name":"","topic":"","qos":"","retain":"","broker":"3e7760d5.2e4f","x":610,"y":240,"wires":[]},{"id":"abc864b8.8a6138","type":"mqtt out","z":"fde5721a.728ac","name":"","topic":"","qos":"","retain":"","broker":"3e7760d5.2e4f","x":1090,"y":380,"wires":[]},{"id":"9f197c1e.92cfc","type":"inject","z":"e7fcc5d5.5b2d78","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":80,"wires":[["b3aad4b6.cd1c08"]]},{"id":"7609897c.f21db8","type":"comment","z":"e7fcc5d5.5b2d78","name":"Set global variables for event mappings","info":"","x":550,"y":40,"wires":[]},{"id":"320b0887.4d4a68","type":"inject","z":"e7fcc5d5.5b2d78","name":"Every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":140,"y":200,"wires":[["73cb7ccb.c2bf64"]]},{"id":"73cb7ccb.c2bf64","type":"function","z":"e7fcc5d5.5b2d78","name":"global vars set?","func":"var holiday = global.get(\"VirtualHoliday\");\nif (holiday == null) {\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":140,"y":260,"wires":[["2df3500c.241ee"]]},{"id":"be6fcc30.e1d8","type":"comment","z":"e7fcc5d5.5b2d78","name":"Normal start will execute on deploy","info":"","x":460,"y":200,"wires":[]},{"id":"39ac09a4.8812d6","type":"comment","z":"e7fcc5d5.5b2d78","name":"node-re restart will not always follow normal start. Check every minute if global vars are set","info":"","x":640,"y":240,"wires":[]},{"id":"b9a087b6.051f38","type":"subflow:69832348.ba1dec","z":"fde5721a.728ac","x":610,"y":300,"wires":[]},{"id":"7e9adbd2.423a84","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1260,"y":140,"wires":[["b09b2446.71cee8"]]},{"id":"eb7193b3.82b74","type":"subflow:7798f15d.db205","z":"fde5721a.728ac","x":610,"y":360,"wires":[]},{"id":"b09b2446.71cee8","type":"function","z":"6436dcd7.08f434","name":"lock led","func":"var ledm = [\n    0, 0, 0, 1, 1, 1, 0, 0, 0,\n    0, 0, 1, 0, 0, 0, 1, 0, 0,\n    0, 0, 1, 0, 0, 0, 1, 0, 0,\n    0, 0, 1, 0, 0, 0, 1, 0, 0,\n    0, 1, 1, 1, 1, 1, 1, 1, 0,\n    0, 1, 1, 1, 1, 1, 1, 1, 0,\n    0, 1, 1, 1, 1, 1, 1, 1, 0,\n    0, 1, 1, 1, 1, 1, 1, 1, 0,\n    0, 1, 1, 1, 1, 1, 1, 1, 0\n    ];\nmsg.payload = ledm;        \nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":140,"wires":[[]]},{"id":"9373b52c.794858","type":"function","z":"6436dcd7.08f434","name":"open lock led","func":"var led = [\n    0, 0, 0, 1, 1, 1, 0, 0, 0,\n    0, 0, 1, 0, 0, 0, 1, 0, 0,\n    0, 0, 0, 0, 0, 0, 1, 0, 0,\n    0, 0, 0, 0, 0, 0, 1, 0, 0,\n    0, 1, 1, 1, 1, 1, 1, 1, 0,\n    0, 1, 0, 0, 0, 0, 0, 1, 0,\n    0, 1, 0, 0, 0, 0, 0, 1, 0,\n    0, 1, 0, 0, 0, 0, 0, 1, 0,\n    0, 1, 1, 1, 1, 1, 1, 1, 0\n    ];\nvar msgout = {payload:{}};\nmsgout.payload.led = led;\nmsgout.payload.bright = 255;\nmsgout.payload.dtime = 2000;\nreturn msgout;","outputs":1,"noerr":0,"x":1410,"y":280,"wires":[["506bbf2e.f8144"]]},{"id":"8c96ba43.d77718","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1180,"y":280,"wires":[["9373b52c.794858"]]},{"id":"5fd83496.0722bc","type":"function","z":"6436dcd7.08f434","name":"JS","func":"var led = [\n    0, 0, 0, 0, 0, 0, 0, 0, 0,\n    0, 0, 0, 0, 0, 0, 0, 0, 0,\n    0, 0, 0, 1, 0, 0, 1, 1, 0,\n    0, 0, 0, 1, 0, 1, 0, 0, 0,\n    0, 0, 0, 1, 0, 0, 1, 0, 0,\n    0, 1, 0, 1, 0, 0, 0, 1, 0,\n    0, 0, 1, 0, 0, 1, 1, 0, 0,\n    0, 0, 0, 0, 0, 0, 0, 0, 0,\n    0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\nmsg.payload.led = led;\nmsg.payload.bright = 255;\nmsg.payload.time = 30000;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":120,"wires":[[]]},{"id":"506bbf2e.f8144","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"false","x":1700,"y":260,"wires":[]},{"id":"b3aad4b6.cd1c08","type":"delay","z":"e7fcc5d5.5b2d78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":80,"wires":[["2df3500c.241ee"]]},{"id":"802c8817.202f58","type":"sonos-control","z":"6436dcd7.08f434","playnode":"1a5bb169.a4e82f","name":"","mode":"","track":"","volume":"","volume_value":"","x":500,"y":340,"wires":[]},{"id":"33f18445.28ac6c","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"{\"mode\":\"play\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":220,"y":260,"wires":[["802c8817.202f58"]]},{"id":"597a5889.d03f88","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"{\"mode\":\"stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":220,"y":300,"wires":[["802c8817.202f58"]]},{"id":"4eb82e33.f4899","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"{\"mode\":\"pause\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":220,"y":340,"wires":[["802c8817.202f58"]]},{"id":"87ca4d3.3dc75b","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"{\"track\":\"next\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":210,"y":380,"wires":[["802c8817.202f58"]]},{"id":"8330029f.6505f","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"{\"track\":\"previous\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":230,"y":420,"wires":[["802c8817.202f58"]]},{"id":"2327a655.0b572a","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"false","x":1150,"y":200,"wires":[]},{"id":"f703a9c6.59d488","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"{\"get\":\"volume\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":800,"y":200,"wires":[["19ee641f.90dfec"]]},{"id":"19ee641f.90dfec","type":"sonos-query","z":"6436dcd7.08f434","playnode":"1a5bb169.a4e82f","name":"","x":980,"y":200,"wires":[["2327a655.0b572a","4663ff10.c2b71"]]},{"id":"52257bad.94a7b4","type":"link in","z":"6436dcd7.08f434","name":"nuimo in","links":["bb85f49d.ace938","31611876.6b93f8"],"x":535,"y":400,"wires":[[]]},{"id":"d82308f7.b39ec8","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"{\"volume\": \"10\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":220,"y":220,"wires":[["802c8817.202f58"]]},{"id":"4663ff10.c2b71","type":"function","z":"6436dcd7.08f434","name":"","func":"sonos = global.get('BedroomSonos1')\nsonos.volume = msg.payload\nsonos.state = 'playing'\nglobal.set('BedroomSonos1', sonos)\nreturn;","outputs":1,"noerr":0,"x":1130,"y":240,"wires":[[]]},{"id":"13172198.6c4f2e","type":"mqtt in","z":"6436dcd7.08f434","name":"","topic":"Event/Timing","qos":"2","broker":"f017e0bd.996dd","x":100,"y":80,"wires":[[]]},{"id":"fbbf4ebe.b80a9","type":"function","z":"6436dcd7.08f434","name":"Handle alarm","func":"var input = JSON.parse(msg.payload);\nif (input.alarm == 'on') {\n    var sonmsg = {payload: {\"mode\":\"play\"}}\n    node.send(sonmsg);\n}\nreturn;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["802c8817.202f58"]]},{"id":"e9fe0de9.90572","type":"exec","z":"e7fcc5d5.5b2d78","command":"/sbin/apcaccess","append":"","useSpawn":"","name":"apcaccess","x":370,"y":400,"wires":[["ddabf37c.c0655"],[],[]]},{"id":"44ad00e4.ebf3","type":"inject","z":"e7fcc5d5.5b2d78","name":"every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":true,"x":140,"y":400,"wires":[["e9fe0de9.90572"]]},{"id":"607d6bed.c82284","type":"comment","z":"e7fcc5d5.5b2d78","name":"Extract data from a connected UPS via apcupsd and post to mqtt topic Event/<upsname>","info":"","x":350,"y":340,"wires":[]},{"id":"ddabf37c.c0655","type":"function","z":"e7fcc5d5.5b2d78","name":"Parse apcaccess data","func":"var wanted = ['upsname', 'tonbatt', 'cumonbatt', 'status', 'linev', 'loadpct', 'battv', 'bcharge', 'timeleft', 'serialno'];\nvar lines = msg.payload.trim().split(\"\\n\");\nvar ups = {};\nvar outputmsg = {};\n// loop over every line\nlines.forEach(function (line) {\n    // assign values\n    var stats = line.split(':');\n    var label = stats[0].toLowerCase();\n    var value = stats[1].split(' ')[1];\n    label = label.replace(/(^\\s+|\\s+$)/g, '');\n    // if found as wanted value, store it\n    if (wanted.indexOf(label) > -1) {\n        value = value.replace(/(^\\s+|\\s+$)/g, '');\n        ups[label] = value;\n    }\n});\nups.id = ups.serialno;\ndelete ups.serialno;\noutputmsg.topic = 'Event/' + ups.upsname;\noutputmsg.payload = JSON.stringify(ups);\nreturn outputmsg;","outputs":1,"noerr":0,"x":620,"y":400,"wires":[["6e032f9e.5b7f4"]]},{"id":"6e032f9e.5b7f4","type":"mqtt out","z":"e7fcc5d5.5b2d78","name":"","topic":"","qos":"","retain":"","broker":"3b229742.9ba4a8","x":810,"y":400,"wires":[]},{"id":"126152fb.c174fd","type":"mytimer","z":"e7fcc5d5.5b2d78","dawnweekday":"420","duskweekday":"1320","dawnweekend":"540","duskweekend":"1320","dawnminoff":"5","dawnplusoff":"30","duskminoff":"5","duskplusoff":"20","outpayloaddawn2":"","outtopic":"x","outpayloaddawn1":"","outpayloaddusk1":"","outpayloaddusk2":"","name":"My Timer","lat":"52.149664","lon":"4.446244","x":460,"y":500,"wires":[["f35a7da0.71f3f","79df7ed0.24308"]]},{"id":"f35a7da0.71f3f","type":"mqtt out","z":"e7fcc5d5.5b2d78","name":"","topic":"Event/Timing","qos":"","retain":"","broker":"3b229742.9ba4a8","x":650,"y":500,"wires":[]},{"id":"f655ba87.e35488","type":"inject","z":"e7fcc5d5.5b2d78","name":"Every 15 minutes","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":150,"y":600,"wires":[["41c08644.56ba68"]]},{"id":"78048f1c.1dc91","type":"function","z":"e7fcc5d5.5b2d78","name":"Evohome handler","func":"// Handles all EvoHome incoming messages. \n\nvar id_array = global.get(\"globdata\");\nvar publisher = \"Evohome\"\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i][publisher] == msg.payload.id) {\n        if (id_array[i].Type == 'Therm') {\n            //fist set global var\n            var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n            globval = {};\n            globval.temperature = msg.payload.temp;\n            globval.setpoint = msg.payload.setpoint;\n            global.set(globvar,globval);\n            //then update internal state\n            var inter = {};\n            inter.temperature = msg.payload.temp;\n            inter.setpoint = msg.payload.setpoint;\n            //inter.time = moment().format(\"HH:mm:ss\");\n            inter.type = id_array[i].Type;\n            var intermsg = {payload: JSON.stringify(inter), topic :id_array[i].Internal};\n            //now check if it is known on vera\n            //if (id_array[i].Vera) {\n            //    var verat = {};\n            //    var verah = {};\n            //    verat.id = id_array[i].Vera.substr(0,3);\n            //    verat.temperature = c.temperature;\n            //    veratmsg = {payload: JSON.stringify(verat)};\n            //    verah.id = id_array[i].Vera.substr(4,3);\n            //    verah.humidity = c.humidity;\n            //    verahmsg = {payload: JSON.stringify(verah)};\n            //}\n            return [intermsg, null]\n        }\n    }\n}\n//node.warn(c.id);\n//return msg;","outputs":"2","noerr":0,"x":630,"y":600,"wires":[["359fc213.81bebe"],[]]},{"id":"3d94a373.7bdd1c","type":"comment","z":"e7fcc5d5.5b2d78","name":"Publish events based on sunset, sunrise and alarmtime","info":"","x":260,"y":460,"wires":[]},{"id":"1df059ae.552966","type":"comment","z":"e7fcc5d5.5b2d78","name":"Poll the evohome api every 15 minutes using python code","info":"","x":270,"y":560,"wires":[]},{"id":"45298740.370cc8","type":"inject","z":"e7fcc5d5.5b2d78","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":150,"y":740,"wires":[["6a6c407f.defc2","5fb0f8c3.69a328"]]},{"id":"6a6c407f.defc2","type":"function","z":"e7fcc5d5.5b2d78","name":"test if hearbeat was set","func":"hb = global.get('veraheartbeat')\nif (hb != 'yes') {\n    msg.payload = 'reload'\n    node.send(msg);\n}\nelse {\n//    node.warn('reset')\n    global.set('veraheartbeat', 'no')\n}\nreturn;","outputs":1,"noerr":0,"x":410,"y":700,"wires":[["974fd1dd.1bc19"]]},{"id":"1218ce4d.2939c2","type":"http request","z":"e7fcc5d5.5b2d78","name":"GET Vera url","method":"GET","ret":"txt","url":"","x":830,"y":700,"wires":[[]]},{"id":"974fd1dd.1bc19","type":"function","z":"e7fcc5d5.5b2d78","name":"Vera API call","func":"if (msg.payload == 'reload') {\n    msg.url='http://192.168.0.24:3480/data_request?id=reload';\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["1218ce4d.2939c2"]]},{"id":"efd2a8c5.4e6528","type":"comment","z":"e7fcc5d5.5b2d78","name":"check every 5 minutes if since the last check messages from vera were received. if not: reload vera to reconnect to MQTT","info":"","x":720,"y":660,"wires":[]},{"id":"359fc213.81bebe","type":"mqtt out","z":"e7fcc5d5.5b2d78","name":"","topic":"","qos":"","retain":"","broker":"3b229742.9ba4a8","x":850,"y":600,"wires":[]},{"id":"5fb0f8c3.69a328","type":"function","z":"e7fcc5d5.5b2d78","name":"{\"get\":\"state\"}","func":"msg.payload = {\"get\":\"state\"};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":800,"wires":[["5de04ba2.e8a964"]]},{"id":"5de04ba2.e8a964","type":"sonos-query","z":"e7fcc5d5.5b2d78","playnode":"545b39cc.de11e8","name":"Bedroom","x":580,"y":800,"wires":[["79e5f811.b88f38"]]},{"id":"d5eb29de.56de18","type":"comment","z":"e7fcc5d5.5b2d78","name":"Get sonos volume and status every 5 minutes, and set global parameter","info":"","x":560,"y":760,"wires":[]},{"id":"79e5f811.b88f38","type":"function","z":"e7fcc5d5.5b2d78","name":"{\"get\":\"volume\"}","func":"var sonos = {};\nif (typeof msg.payload == 'number') {\n    //volume returned, need to get state from contect\n    sonos.state = context.get('state');\n    sonos.volume = msg.payload;\n    var oldsonos = global.get('BedroomSonos1');\n        if (sonos.state != oldsonos.state || sonos.volume != oldsonos.volume) { \n        global.set('BedroomSonos1', sonos);\n        node.warn(sonos);\n        sonos.type = 'Sonos';\n        var intermsg = {payload: JSON.stringify(sonos), topic :'/State/Thirdfloor/Bedroom/Sonos1'};\n        node.send([null,intermsg])\n    }\n}\nelse {\n    context.set('state',msg.payload);\n    msg.payload = {\"get\":\"volume\"};\n    node.send([msg,null]);\n}\nreturn;","outputs":"2","noerr":0,"x":600,"y":860,"wires":[["5de04ba2.e8a964"],["d7a6e39d.98064"]]},{"id":"d7a6e39d.98064","type":"mqtt out","z":"e7fcc5d5.5b2d78","name":"","topic":"","qos":"","retain":"","broker":"3b229742.9ba4a8","x":820,"y":860,"wires":[]},{"id":"a99178eb.441f88","type":"mqtt in","z":"e7fcc5d5.5b2d78","name":"alarm time","topic":"/State/Thirdfloor/Bedroom/Alarm1","qos":"2","broker":"3b229742.9ba4a8","x":120,"y":500,"wires":[["4b7e5ced.4616c4"]]},{"id":"79df7ed0.24308","type":"debug","z":"e7fcc5d5.5b2d78","name":"","active":false,"console":"false","complete":"false","x":650,"y":460,"wires":[]},{"id":"4b7e5ced.4616c4","type":"json","z":"e7fcc5d5.5b2d78","name":"","x":290,"y":500,"wires":[["126152fb.c174fd"]]},{"id":"a8182233.22d04","type":"inject","z":"6436dcd7.08f434","name":"daytime on","topic":"Event/Timing","payload":"{\"daytime\": \"on\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":600,"wires":[["e0d2c4fd.780d28"]]},{"id":"e0d2c4fd.780d28","type":"mqtt out","z":"6436dcd7.08f434","name":"","topic":"","qos":"","retain":"","broker":"f017e0bd.996dd","x":1340,"y":660,"wires":[]},{"id":"74eb4d87.a3aa24","type":"inject","z":"6436dcd7.08f434","name":"daytime off","topic":"Event/Timing","payload":"{\"daytime\": \"off\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":1060,"y":680,"wires":[["e0d2c4fd.780d28"]]},{"id":"a4aa72fc.39855","type":"mqtt in","z":"e7fcc5d5.5b2d78","name":"Daytime","topic":"Event/Timing","broker":"3b229742.9ba4a8","x":100,"y":1000,"wires":[["9a1767d.18e8198"]]},{"id":"9a1767d.18e8198","type":"function","z":"e7fcc5d5.5b2d78","name":"Holiday filter blinds","func":"var holiday = global.get(\"VirtualHoliday\");\nvar outmsg1 = {};\nvar outmsg2 = {};\nvar blinds = {};\noutmsg1.topic = 'Node-red'\noutmsg2.topic = '/State/Firstfloor/Kitchen/Blinds1';\noutmsg2.payload = {};\nvar globvar = outmsg2.topic.split('/')[3]+outmsg2.topic.split('/')[4];\nvar globval = {};\n//node.warn(holiday);\n//node.warn(holiday.state);\nif (holiday.state == \"1\") {\n    //node.warn(msg.payload);\n    //node.warn(JSON.parse(msg.payload).daytime);\n    if (JSON.parse(msg.payload).daytime == \"on\" ) {\n        //node.warn('blinds up');\n        outmsg2.payload.state='up';\n        outmsg1.payload = 'blinds up'\n        globval.state = 100;\n        global.set(globvar,globval);\n        return [outmsg1, outmsg2];\n    }\n    else if (JSON.parse(msg.payload).daytime == \"off\" ) {\n        //node.warn('blinds down');\n        outmsg2.payload.state='down';\n        outmsg1.payload = 'blinds down'\n        globval.state = 0;\n        global.set(globvar,globval);\n        return [outmsg1, outmsg2];\n    }\n} \n//return msg;","outputs":"2","noerr":0,"x":420,"y":1000,"wires":[["32014724.080838"],["adb16a9d.4af428"]]},{"id":"aae4c38e.bc2fa","type":"comment","z":"e7fcc5d5.5b2d78","name":"Filter daytime events based on global VirtualHoliday state to raise or lower blinds","info":"","x":320,"y":940,"wires":[]},{"id":"32014724.080838","type":"pushover","z":"e7fcc5d5.5b2d78","name":"Pushover","device":"","title":"","priority":0,"sound":"","x":720,"y":980,"wires":[]},{"id":"adb16a9d.4af428","type":"subflow:7798f15d.db205","z":"e7fcc5d5.5b2d78","x":710,"y":1020,"wires":[]},{"id":"114aaf9f.bd464","type":"function","z":"454abbf8.fe0c34","name":"dimmer","func":"var level = 0;\nvar curamount = context.get('amount') || 0;\nif (msg.payload.event == 'init'){\n    var globval = global.get('BedroomLight1')\n    curamount = globval.level * 20;\n    level = globval.level;\n}\nelse if (msg.payload.event == 'rotate'){\n    curamount += msg.payload.amnt;\n    if (curamount > 2000) {\n        curamount = 2000;\n    }\n    else if (curamount < 0) {\n        curamount = 0;\n    }\n    level = Math.floor(curamount/20);\n}\ncontext.set('amount',curamount);\nmsg.payload = level;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":60,"wires":[["f19d3fd9.25345"]]},{"id":"e9ee9a06.7dc408","type":"inject","z":"454abbf8.fe0c34","name":"","topic":"","payload":"{\"event\": \"init\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":280,"y":60,"wires":[["114aaf9f.bd464"]]},{"id":"ca2ef6a0.ace578","type":"debug","z":"454abbf8.fe0c34","name":"","active":true,"console":"false","complete":"false","x":1200,"y":120,"wires":[]},{"id":"f19d3fd9.25345","type":"function","z":"454abbf8.fe0c34","name":"","func":"var veramsg = {payload:{}};\nveramsg.payload.value = msg.payload;\nveramsg.payload.id = 60;\nveramsg.payload.type = 'Dimmer'\nreturn veramsg;","outputs":1,"noerr":0,"x":1000,"y":60,"wires":[["ca2ef6a0.ace578","6cc80205.fc54ec"]]},{"id":"dd5613fd.69daf","type":"sonos-control","z":"454abbf8.fe0c34","playnode":"3008a913.f90f96","name":"","mode":"","track":"","volume":"","volume_value":"","x":1040,"y":300,"wires":[]},{"id":"6164ee92.b5cb3","type":"function","z":"454abbf8.fe0c34","name":"Select application","func":"var apps = ['default',\n            'alarm',\n            'sonos']\nvar appsel = context.get('appsel') || 0;\nif (msg.payload.event == 'swipedown') {\n    appsel +=1;\n    if (appsel == 3) {\n        appsel = 0;\n    }\n    context.set('appsel',appsel);\n    msg.payload.event = 'init';\n}\nmsg.topic = apps[appsel]; \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["4620f874.04cdd8"]]},{"id":"4620f874.04cdd8","type":"switch","z":"454abbf8.fe0c34","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"default","vt":"str"},{"t":"eq","v":"dimmer","vt":"str"},{"t":"eq","v":"sonos","vt":"str"},{"t":"eq","v":"alarm","vt":"str"}],"checkall":"true","outputs":4,"x":690,"y":220,"wires":[["1a2e7cc.d7c4f83"],[],["ac72b0aa.b5b92","176b6c4e.679f04"],["b3ce8616.385328","176b6c4e.679f04"]]},{"id":"1a2e7cc.d7c4f83","type":"function","z":"454abbf8.fe0c34","name":"Default app","func":"var led = [\n    0, 0, 0, 0, 0, 0, 0, 0, 0,\n    0, 0, 0, 0, 0, 0, 0, 0, 0,\n    0, 0, 0, 1, 0, 0, 1, 1, 0,\n    0, 0, 0, 1, 0, 1, 0, 0, 0,\n    0, 0, 0, 1, 0, 0, 1, 0, 0,\n    0, 1, 0, 1, 0, 0, 0, 1, 0,\n    0, 0, 1, 0, 0, 1, 1, 0, 0,\n    0, 0, 0, 0, 0, 0, 0, 0, 0,\n    0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\nif (msg.payload.event == 'init' || msg.payload.event == 'press'){\n    var msgout = {payload:{}};\n    msgout.payload.led = led;\n    msgout.payload.bright = 255;\n    msgout.payload.dtime = 2000;\n    node.send(msgout);\n}\nreturn;","outputs":1,"noerr":0,"x":890,"y":180,"wires":[["aad29eb3.8540a"]]},{"id":"ffca4b73.6d7e98","type":"inject","z":"454abbf8.fe0c34","name":"swipedown","topic":"","payload":"{\"event\":\"swipedown\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":260,"y":180,"wires":[["6164ee92.b5cb3"]]},{"id":"c265f8.323b7a08","type":"inject","z":"454abbf8.fe0c34","name":"click","topic":"","payload":"{\"event\":\"press\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":250,"y":220,"wires":[["6164ee92.b5cb3"]]},{"id":"81584efd.4a5af","type":"link in","z":"454abbf8.fe0c34","name":"nuimo in","links":["76374e0e.9c26f","aad29eb3.8540a"],"x":115,"y":280,"wires":[["e4dc52f5.4bafa"]]},{"id":"76374e0e.9c26f","type":"link out","z":"454abbf8.fe0c34","name":"nuimo out","links":["81584efd.4a5af"],"x":1195,"y":300,"wires":[]},{"id":"ac72b0aa.b5b92","type":"function","z":"454abbf8.fe0c34","name":"Sonos","func":"//first get all the sonos values, volume, state.\nif (msg.payload.event == 'init'){\n    var msgnui = {payload:{display:'music'}};\n    node.send([msgnui, null]);\n    var sonos = global.get('BedroomSonos1');\n    var curamount = sonos.volume * 50;\n    context.set('amount',curamount);\n}\nelse if (msg.payload.event == 'press'){\n    var sonos = global.get('BedroomSonos1')\n    node.warn(sonos);\n    if (sonos.state == 'playing') {\n        sonos.state = 'stopped';\n        //still have to handle volume\n        global.set('BedroomSonos1',sonos);\n        var msgnui = {payload:{display:'stop'}};\n        var msgson = {payload:{}};\n        msgson.payload = {\"mode\":\"pause\"}\n        node.send([msgnui,msgson]);\n    }\n    else if (sonos.state == 'stopped') {\n        sonos.state = 'playing';\n        //still have to handle volume\n        global.set('BedroomSonos1',sonos);\n        var msgnui = {payload:{display:'play'}};\n        var msgson = {payload:{}};\n        msgson.payload = {\"mode\":\"play\"}\n        node.send([msgnui,msgson]);\n    }\n}\nelse if (msg.payload.event == 'rotate'){\n    var curamount = context.get('amount')\n    curamount += msg.payload.amnt;\n    if (curamount > 2000) {\n        curamount = 2000;\n    }\n    else if (curamount < 0) {\n        curamount = 0;\n    }\n    var volume = Math.floor(curamount/50);\n    context.set('amount',curamount);\n    var msgson = {payload:{}};\n    msgson.payload = {\"volume\": volume};\n    var disp;\n    if (curamount < 200) {\n        disp = 'vol0'\n    }\n    else if (curamount < 400) {\n        disp = 'vol1'\n    }\n    else if (curamount < 600) {\n        disp = 'vol2'\n    }\n    else if (curamount < 800) {\n        disp = 'vol3'\n    }\n    else if (curamount < 1000) {\n        disp = 'vol4'\n    }\n    else if (curamount < 1200) {\n        disp = 'vol5'\n    }\n    else if (curamount < 1400) {\n        disp = 'vol6'\n    }\n    else if (curamount < 1600) {\n        disp = 'vol7'\n    }\n    else if (curamount < 1800) {\n        disp = 'vol8'\n    }\n    else {\n        disp = 'vol9'\n    }\n    var msgnui = {payload:{display: disp}};\n    node.send([msgnui ,msgson]);\n}\nreturn;","outputs":"2","noerr":0,"x":870,"y":280,"wires":[["cb613bb2.a516f8"],["dd5613fd.69daf"]]},{"id":"e4dc52f5.4bafa","type":"nuimo","z":"454abbf8.fe0c34","name":"Nuimo","localName":"","x":250,"y":280,"wires":[["6164ee92.b5cb3"]]},{"id":"cb613bb2.a516f8","type":"function","z":"454abbf8.fe0c34","name":"Display sonos","func":"var led;\nif (msg.payload.display == 'music'){\n    var led = [\n        0, 0, 1, 1, 1, 1, 1, 1, 0,\n        0, 0, 1, 1, 1, 1, 1, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        1, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 1, 0, 0, 0, 0, 1, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'stop'){\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 1, 0, 1, 1, 0, 0,\n        0, 0, 1, 1, 0, 1, 1, 0, 0,\n        0, 0, 1, 1, 0, 1, 1, 0, 0,\n        0, 0, 1, 1, 0, 1, 1, 0, 0,\n        0, 0, 1, 1, 0, 1, 1, 0, 0,\n        0, 0, 1, 1, 0, 1, 1, 0, 0,\n        0, 0, 1, 1, 0, 1, 1, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'play') {\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 1, 0, 0, 0, 0, 0,\n        0, 0, 1, 1, 1, 0, 0, 0, 0,\n        0, 0, 1, 1, 1, 1, 0, 0, 0,\n        0, 0, 1, 1, 1, 0, 0, 0, 0,\n        0, 0, 1, 1, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol0') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol1') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol2') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol3') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol4') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol5') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol6') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol7') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol8') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'vol9') {\n    led = [\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0\n    ];\n}\nvar msgnui = {payload:{}};\nmsgnui.payload.led = led;\nmsgnui.payload.bright = 255;\nmsgnui.payload.dtime = 2000;\n// show volume only if changed or longer than 1.5 seconds\nif (msg.payload.display.substring(0,3) == 'vol' ) {\n    var prevdisp = context.get('sondisp');\n    var nowtime = Date.now() - 1500;\n    if (prevdisp.display != msg.payload.display || nowtime > prevdisp.time) {\n        node.send(msgnui);\n    }\n}\nelse {\n    node.send(msgnui);\n}\nvar curdisp = {};\ncurdisp.display = msg.payload.display;\ncurdisp.time = Date.now();\ncontext.set('sondisp',curdisp);\nreturn;","outputs":1,"noerr":0,"x":1040,"y":260,"wires":[["76374e0e.9c26f","87108fa4.a0f62"]]},{"id":"aad29eb3.8540a","type":"link out","z":"454abbf8.fe0c34","name":"nuimo out","links":["81584efd.4a5af"],"x":1075,"y":180,"wires":[]},{"id":"b3ce8616.385328","type":"function","z":"454abbf8.fe0c34","name":"Alarm","func":"//first get state of alarm, to add soon\n//var alarm = {}; //later get from global\nvar alarm = {};\nvar state = context.get('state');\nvar hou = context.get('hour')\nvar minu = context.get('minute')\nvar clocksel = context.get('clocksel');\nif (msg.payload.event == 'init'){\n    alarm = global.get('BedroomAlarm1')\n    hou = alarm.time.split(':')[0];\n    minu = alarm.time.split(':')[1];\n    state = alarm.state;\n    context.set('state',state);\n    context.set('hour',hou);\n    context.set('minute',minu);\n    var alarmdisp = 'alarm'+alarm.state\n    var msgnui = {payload:{display:alarmdisp}};\n    context.set('alarm', alarm);\n    clocksel = 'onoff';\n    context.set('clocksel',clocksel);\n    node.send([msgnui, null]);\n}\nelse if (msg.payload.event == 'press'){\n    if (clocksel == 'onoff') {\n        if (state == 'off') {\n            state = 'on';\n            context.set('state',state);\n            alarm.state = state;\n            alarm.time = hou+':'+minu;\n            //global.set('BedroomAlarm1',alarm);\n            var msgnui = {payload:{display:'alarmon'}};\n            var msgal = {payload: alarm};\n            node.send([msgnui,msgal]);\n        }\n        else if (state == 'on') {\n            state = 'off';\n            context.set('state',state);\n            alarm.state = state;\n            alarm.time = hou+':'+minu;\n            //global.set('BedroomAlarm1',alarm);\n            var msgnui = {payload:{display:'alarmoff'}};\n            var msgal = {payload: alarm};\n            node.send([msgnui,msgal]);\n        }\n    }\n    else if (clocksel == 'hour') {\n        //swittch to minutes display\n        clocksel = 'minute';\n        context.set('clocksel',clocksel);\n        var msgnui = {payload:{display:minu}};\n        node.send([msgnui,null]);\n        var curamount = minu * 200;\n        context.set('amount',curamount);\n    }\n    else if (clocksel == 'minute') {\n        //swittch to on/off display\n        clocksel = 'onoff';\n        context.set('clocksel',clocksel);\n        var alarmdisp = 'alarm'+state\n        var msgnui = {payload:{display:alarmdisp}};\n        node.send([msgnui,null]);\n    }\n}\nelse if (msg.payload.event == 'swipeleft'){\n    if (clocksel == 'onoff') {\n        //swittch to hour display\n        clocksel = 'hour';\n        //var hou = alarm.time.split(':')[0];\n        var msgnui = {payload:{display:hou}};\n        node.send([msgnui,null]);\n        var curamount = hou * 100;\n        context.set('amount',curamount);\n    }\n    else if (clocksel == 'hour') {\n        //swittch to minutes display & update global\n        clocksel = 'minute';\n        var msgnui = {payload:{display:minu}};\n        alarm.state = state;\n        alarm.time = hou+':'+minu;\n        //global.set('BedroomAlarm1',alarm)\n        var msgal = {payload: alarm};\n        node.send([msgnui,msgal]);\n        var curamount = minu * 40;\n        context.set('amount',curamount);\n    }\n    else if (clocksel == 'minute') {\n        //swittch to on/off display\n        clocksel = 'onoff';\n        var alarmdisp = 'alarm'+state\n        var msgnui = {payload:{display:alarmdisp}};\n        alarm.state = state;\n        alarm.time = hou+':'+minu;\n        //global.set('BedroomAlarm1',alarm)\n        var msgal = {payload: alarm};\n        node.send([msgnui,msgal]);\n    }\n    context.set('clocksel',clocksel);\n}\nelse if (msg.payload.event == 'rotate' && clocksel != 'onoff'){\n    var curamount = context.get('amount');\n    var dispi = 0;\n    var disp = '';\n    curamount += msg.payload.amnt;\n    if (curamount > 2400) {\n        curamount -= 2400;\n    }\n    else if (curamount < 0) {\n        curamount += 2400;\n    }\n    context.set('amount',curamount);\n    if (clocksel == 'hour') {\n        dispi = Math.floor(curamount/100);\n    }\n    else {\n        dispi = 5*Math.floor(curamount/200);\n    }\n    if (dispi < 10) {\n        disp = '0'+dispi;\n    }\n    else {\n        disp = ''+dispi\n    }\n    var msgnui = {payload:{display: disp}};\n    node.send([msgnui ,null]);\n    if (clocksel == 'hour') {\n        hou = disp;\n        context.set('hour',hou);\n    }\n    else {\n        minu = disp;\n        context.set('minute',minu);\n    }\n}\nreturn;","outputs":"2","noerr":0,"x":870,"y":360,"wires":[["1df4f8f6.346f27"],["c6e23c2b.381a7"]]},{"id":"1df4f8f6.346f27","type":"function","z":"454abbf8.fe0c34","name":"Display alarm","func":"var led;\nif (msg.payload.display == 'alarmoff'){\n    var led = [\n        0, 0, 1, 1, 1, 1, 1, 0, 0,\n        0, 0, 1, 0, 0, 0, 1, 0, 0,\n        0, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 0, 0, 1, 1, 1, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 1, 1, 1, 0, 0, 0,\n        0, 0, 0, 1, 1, 1, 0, 0, 0,\n        0, 0, 1, 1, 1, 1, 1, 0, 0,\n        0, 0, 1, 1, 1, 1, 1, 0, 0\n    ];\n}\nelse if (msg.payload.display == 'alarmon'){\n    var led = [\n        0, 0, 1, 1, 1, 1, 1, 0, 0,\n        0, 0, 1, 1, 1, 1, 1, 0, 0,\n        0, 0, 0, 1, 1, 1, 0, 0, 0,\n        0, 0, 0, 1, 1, 1, 0, 0, 0,\n        0, 0, 0, 0, 1, 0, 0, 0, 0,\n        0, 0, 0, 1, 1, 1, 0, 0, 0,\n        0, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 1, 0, 0,\n        0, 0, 1, 1, 1, 1, 1, 0, 0\n    ];\n}\nelse if (msg.payload.display == '00') {\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '01') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 0, 0, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        0, 1, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '02') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 1, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 1, 1, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 1, 1, 1,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '03') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 1, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 1, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '04') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 1, 1, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 1, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '05') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 1, 1, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        1, 0, 0, 1, 0, 1, 1, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '06') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 0, 1, 1, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        1, 0, 0, 1, 0, 1, 1, 1, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '07') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 1, 1, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        1, 0, 0, 1, 0, 0, 0, 1, 0,\n        0, 1, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '08') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 1, 1, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '09') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 1, 1, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '10') {\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '11') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '12') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 1, 1, 1,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '13') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '14') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '15') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 1, 1, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '16') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 1, 1, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '17') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 1, 1, 1, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '18') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '19') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 0, 0, 1,\n        0, 0, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '20') {\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 1, 1, 0, 0, 1, 0, 0, 1,\n        1, 0, 0, 0, 0, 1, 0, 0, 1,\n        1, 0, 0, 0, 0, 1, 0, 0, 1,\n        1, 1, 1, 1, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '21') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 0, 0, 0, 0, 1, 0,\n        0, 0, 0, 1, 0, 0, 0, 1, 0,\n        0, 0, 0, 1, 0, 0, 0, 1, 0,\n        0, 1, 1, 0, 0, 0, 0, 1, 0,\n        1, 0, 0, 0, 0, 0, 0, 1, 0,\n        1, 0, 0, 0, 0, 0, 0, 1, 0,\n        1, 1, 1, 1, 0, 0, 0, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '22') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        1, 0, 0, 0, 0, 1, 0, 0, 0,\n        1, 0, 0, 0, 0, 1, 0, 0, 0,\n        1, 1, 1, 1, 0, 1, 1, 1, 1,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '23') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 1, 1, 0, 0, 0, 1, 1, 0,\n        1, 0, 0, 0, 0, 0, 0, 0, 1,\n        1, 0, 0, 0, 0, 0, 0, 0, 1,\n        1, 1, 1, 1, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '25') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 0, 0, 1, 1, 1, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 1, 1, 0,\n        1, 0, 0, 0, 0, 0, 0, 0, 1,\n        1, 0, 0, 0, 0, 0, 0, 0, 1,\n        1, 1, 1, 1, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '30') {\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 1, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '35') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 0, 0, 1, 1, 1, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '40') {\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 0, 0, 1, 0, 0, 1, 1, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 1, 1, 1, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '45') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 0, 0, 1, 0, 1, 1, 1, 1,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        1, 0, 0, 1, 0, 1, 0, 0, 0,\n        0, 1, 1, 1, 0, 1, 1, 1, 0,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '50') {\n    var led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 1, 0, 0, 1, 1, 0,\n        1, 0, 0, 0, 0, 1, 0, 0, 1,\n        1, 0, 0, 0, 0, 1, 0, 0, 1,\n        1, 1, 1, 0, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        0, 0, 0, 1, 0, 1, 0, 0, 1,\n        1, 1, 1, 0, 0, 0, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nelse if (msg.payload.display == '55') {\n    led = [\n        0, 0, 0, 0, 0, 0, 0, 0, 0,\n        1, 1, 1, 1, 0, 1, 1, 1, 1,\n        1, 0, 0, 0, 0, 1, 0, 0, 0,\n        1, 0, 0, 0, 0, 1, 0, 0, 0,\n        1, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        0, 0, 0, 1, 0, 0, 0, 0, 1,\n        1, 1, 1, 0, 0, 1, 1, 1, 0,\n        0, 0, 0, 0, 0, 0, 0, 0, 0\n    ];\n}\nvar msgnui = {payload:{}};\nmsgnui.payload.led = led;\nmsgnui.payload.bright = 255;\nmsgnui.payload.dtime = 2000;\n// show time only if changed or longer than 1.5 seconds\nif (msg.payload.display.substring(0,5) != 'alarm' ) {\n    var prevdisp = context.get('sondisp');\n    var nowtime = Date.now() - 1500;\n    if (prevdisp.display != msg.payload.display || nowtime > prevdisp.time) {\n        node.send(msgnui);\n    }\n}\nelse {\n    node.send(msgnui);\n}\nvar curdisp = {};\ncurdisp.display = msg.payload.display;\ncurdisp.time = Date.now();\ncontext.set('sondisp',curdisp);\nreturn;","outputs":1,"noerr":0,"x":1040,"y":340,"wires":[["76374e0e.9c26f","176b6c4e.679f04"]]},{"id":"d3f3137.35860f","type":"inject","z":"454abbf8.fe0c34","name":"swipeleft","topic":"","payload":"{\"event\":\"swipeleft\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":260,"y":140,"wires":[["6164ee92.b5cb3"]]},{"id":"c6e23c2b.381a7","type":"function","z":"454abbf8.fe0c34","name":"alarm changed","func":"oldalarm = global.get('BedroomAlarm1');\nif (oldalarm.time != msg.payload.time || oldalarm.state != msg.payload.state) {\n    var alarm = msg.payload;\n    global.set('BedroomAlarm1',alarm);\n    alarm.type = 'Alarm'\n    node.send({payload: JSON.stringify(alarm), topic: '/State/Thirdfloor/Bedroom/Alarm1'});\n}\nreturn;","outputs":1,"noerr":0,"x":1040,"y":380,"wires":[["b61b4811.8f7758"]]},{"id":"b61b4811.8f7758","type":"mqtt out","z":"454abbf8.fe0c34","name":"","topic":"","qos":"","retain":"","broker":"fde22837.6f6d88","x":1230,"y":380,"wires":[]},{"id":"6cc80205.fc54ec","type":"subflow:69832348.ba1dec","z":"454abbf8.fe0c34","x":1200,"y":60,"wires":[]},{"id":"544db6af.d494b8","type":"mqtt in","z":"d0ead32e.7ebd5","name":"RFXcom","topic":"Event/Rfxcom/#","qos":"2","broker":"a509d25.29b283","x":100,"y":160,"wires":[["184e3a25.f64186"]]},{"id":"184e3a25.f64186","type":"function","z":"d0ead32e.7ebd5","name":"RFXcom handler","func":"// Handles all RFXcom incoming messages. Current this includes:\n// Temp\n// TempHum\n// Doorbell\nvar id_array = global.get(\"globdata\");\nvar c = JSON.parse(msg.payload);\nvar publisher = \"Rfxcom\"\nif (c.id) {   // Event about a specific device id\n    for (i = 0; i < id_array.length; ++i) {\n        if (id_array[i][publisher] == c.id) {\n            if (id_array[i].Type == 'TempHum') {\n                //fist set global var\n                var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n                globval = {};\n                globval.temperature = c.temperature.value;\n                globval.humidity = c.humidity.value;\n                global.set(globvar,globval);\n                //then update internal state\n                var inter = {};\n                inter.temperature = c.temperature.value;\n                inter.humidity = c.humidity.value;\n                //inter.time = moment().format(\"HH:mm:ss\");\n                inter.type = id_array[i].Type;\n                var intermsg = {payload: JSON.stringify(inter), topic :id_array[i].Internal};\n                //now check if it is known on vera\n                if (id_array[i].Vera) {\n                    var verat = {};\n                    var verah = {};\n                    verat.id = id_array[i].Vera.substr(0,3);\n                    verat.temperature = c.temperature.value;\n                    veratmsg = {payload: JSON.stringify(verat)};\n                    verah.id = id_array[i].Vera.substr(4,3);\n                    verah.humidity = c.humidity.value;\n                    verahmsg = {payload: JSON.stringify(verah)};\n                }\n                return [intermsg, [veratmsg, verahmsg], null]\n            }\n            else if (id_array[i].Type == 'Temp') {\n                //fist set global var\n                var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n                globval = {};\n                globval.temperature = c.temperature.value;\n                global.set(globvar,globval);\n                var inter = {};\n                inter.temperature = c.temperature.value;\n                //inter.time = moment().format(\"HH:mm:ss\");\n                inter.type = id_array[i].Type;\n                var intermsg = {payload: JSON.stringify(inter), topic :id_array[i].Internal};\n                if (id_array[i].Vera) {\n                    var verat = {};\n                    verat.id = id_array[i].Vera;\n                    verat.temperature = c.temperature.value;\n                    veratmsg = {payload: JSON.stringify(verat)};\n                }\n                return [intermsg, veratmsg, null]\n            }\n        }\n    }\n}\n//node.warn(c.id);\n//return msg;","outputs":"4","noerr":0,"x":370,"y":160,"wires":[["e9fc46be.9586b8"],["7bc832ea.f57f3c"],["b0897c51.c8732"],["a3531138.c9471"]]},{"id":"b0897c51.c8732","type":"debug","z":"d0ead32e.7ebd5","name":"Domoticz output","active":false,"console":"false","complete":"payload","x":660,"y":160,"wires":[]},{"id":"bf16a835.a2dc58","type":"mqtt in","z":"d0ead32e.7ebd5","name":"Vera Event","topic":"Event/Vera/#","qos":"2","broker":"a509d25.29b283","x":100,"y":400,"wires":[["7ebf013.68e9c"]]},{"id":"7ebf013.68e9c","type":"function","z":"d0ead32e.7ebd5","name":"Vera handler","func":"// Handles all Vera events. Current this includes:\n// Blinds\n// Switches\n// Dimmers\nvar id_array = global.get(\"globdata\");\nvar c = JSON.parse(msg.payload);\nvar publisher = \"Vera\"\nif (c.id) {   // Event about a specific device id\n    for (i = 0; i < id_array.length; ++i) {\n        if (id_array[i][publisher] == c.id) {\n            if (id_array[i].Type == 'Blinds') {\n                var blindmsg = {topic : id_array[i].Internal, payload : {}};\n                blindmsg.payload.state = c.command;\n                return [null, blindmsg, null]\n            }\n            else if (id_array[i].Type == 'Switch') {\n                var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n                var globval = {};\n                globval.state = c.newvalue;\n                global.set(globvar,globval);\n                var inter = {};\n                inter.type = 'Switch';\n                if (c.newvalue == 0) {\n                    inter.state = 'off';\n                }\n                else if (c.newvalue == 1) {\n                    inter.state = 'on';\n                }\n                var intmsg = {payload: JSON.stringify(inter), topic: id_array[i].Internal};\n                return [intmsg, null, null];\n            }\n            else if (id_array[i].Type == 'Dimmer') {\n                //node.warn(msg.payload)\n                var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n                var globval = {}\n                var inter = {}\n                \n                inter.type = 'Dimmer';\n                if (c.newvalue == 0) {\n                    inter.state = 'off';\n                    globval.state = '0';\n                    oldglobval = global.get(globvar)\n                    globval.level = oldglobval.level;\n                    inter.level = oldglobval.level;\n                }\n                else {\n                    inter.state = 'on';\n                    globval.state = '1';\n                    globval.level = c.newvalue;\n                    inter.level = c.newvalue;\n                }\n                global.set(globvar,globval);\n                var intmsg = {payload: JSON.stringify(inter), topic: id_array[i].Internal};\n                return [intmsg, null, null];\n            }\n        }\n    }\n}\n","outputs":"3","noerr":0,"x":350,"y":400,"wires":[["b1136764.23d5e8"],["ce0e8a57.de0378"],["f3f31b79.012548"]]},{"id":"e9fc46be.9586b8","type":"mqtt out","z":"d0ead32e.7ebd5","name":"Internal state","topic":"","qos":"","retain":"","broker":"a509d25.29b283","x":650,"y":40,"wires":[]},{"id":"f0e7726a.a855c","type":"mqtt in","z":"d0ead32e.7ebd5","name":"UPS event","topic":"Event/XENups","qos":"2","broker":"a509d25.29b283","x":100,"y":680,"wires":[["20868a1d.7b3546"]]},{"id":"20868a1d.7b3546","type":"function","z":"d0ead32e.7ebd5","name":"UPS Handler","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":680,"wires":[[]]},{"id":"7bc832ea.f57f3c","type":"mqtt out","z":"d0ead32e.7ebd5","name":"Update Vera","topic":"Update/Vera","qos":"","retain":"","broker":"a509d25.29b283","x":650,"y":100,"wires":[]},{"id":"b1136764.23d5e8","type":"mqtt out","z":"d0ead32e.7ebd5","name":"Internal state","topic":"","qos":"","retain":"","broker":"a509d25.29b283","x":650,"y":300,"wires":[]},{"id":"f3f31b79.012548","type":"debug","z":"d0ead32e.7ebd5","name":"Domoticz output","active":false,"console":"false","complete":"payload","x":660,"y":480,"wires":[]},{"id":"a3531138.c9471","type":"mqtt out","z":"d0ead32e.7ebd5","name":"Foscam","topic":"","qos":"","retain":"","broker":"a509d25.29b283","x":640,"y":220,"wires":[]},{"id":"3878b49f.fe6e7c","type":"mqtt in","z":"d0ead32e.7ebd5","name":"vera heartbeat","topic":"Vera/Test","qos":"2","broker":"a509d25.29b283","x":110,"y":560,"wires":[["75ea1c56.5f1ff4"]]},{"id":"75ea1c56.5f1ff4","type":"function","z":"d0ead32e.7ebd5","name":"set vera heartbeat","func":"hb = global.get('veraheartbeat');\n//node.warn(hb);\nif (hb != 'yes') {\n    //node.warn('setting heartbeat');\n    global.set('veraheartbeat', 'yes')\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[[]]},{"id":"103d661a.3e473a","type":"comment","z":"d0ead32e.7ebd5","name":"Set heartbeat on every time a heartbeat message from vera is received.","info":"","x":300,"y":520,"wires":[]},{"id":"ce0e8a57.de0378","type":"subflow:7798f15d.db205","z":"d0ead32e.7ebd5","name":"","x":640,"y":400,"wires":[]},{"id":"176b6c4e.679f04","type":"debug","z":"454abbf8.fe0c34","name":"","active":true,"console":"false","complete":"false","x":1240,"y":460,"wires":[]},{"id":"41c08644.56ba68","type":"python-function","z":"e7fcc5d5.5b2d78","name":"poll evohome api","func":"import sys\nfrom evohomeclient import EvohomeClient\nclient = EvohomeClient('ferd.scheepers@mamahuhu.nl', 'Extra123$')\nfor device in client.temperatures():\n    msg['payload'] = device\n    node.send(msg)\nreturn","outputs":1,"x":390,"y":600,"wires":[["78048f1c.1dc91"]]},{"id":"87108fa4.a0f62","type":"debug","z":"454abbf8.fe0c34","name":"","active":true,"console":"false","complete":"false","x":1260,"y":260,"wires":[]},{"id":"4aa2f470.cb306c","type":"udp in","z":"6436dcd7.08f434","name":"testx","iface":"","port":"34989","ipv":"udp4","multicast":"false","group":"224.0.0.0","datatype":"buffer","x":1180,"y":1020,"wires":[["d52fcb8e.07a5a8"]]},{"id":"d52fcb8e.07a5a8","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"true","x":1420,"y":1020,"wires":[]},{"id":"78299530.ba832c","type":"function","z":"6436dcd7.08f434","name":"","func":"buf = new Buffer(24);\nbuf[0] = 0x01;\nbuf[1] = 0x86;\nbuf[2] = 0x18;\nbuf[3] = 0x00;\nbuf[4] = 0x32;\nbuf[5] = 0x02;\nbuf[6] = 0x01;\nbuf[7] = 0x00;\nbuf[8] = 0x00;\nbuf[9] = 0x00;\nbuf[10] = 0x00;\nbuf[11] = 0x00;\nbuf[12] = 0x11;\nbuf[13] = 0x00;\nbuf[14] = 0x01;\nbuf[15] = 0x00;\nbuf[16] = 0x04;\nbuf[17] = 0x01;\nbuf[18] = 0x00;\nbuf[19] = 0x00;\nbuf[20] = 0x04;\nbuf[21] = 0x21;\nbuf[22] = 0x00;\nbuf[23] = 0x00;\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":1140,"wires":[["2e312fa9.ab4fa","3bd1591f.681ab6"]]},{"id":"7e5e52f4.1da79c","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":880,"y":1140,"wires":[["78299530.ba832c"]]},{"id":"2e312fa9.ab4fa","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"true","x":1340,"y":1240,"wires":[]},{"id":"3bd1591f.681ab6","type":"udp out","z":"6436dcd7.08f434","name":"out","addr":"192.168.0.101","iface":"","port":"34988","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1380,"y":1140,"wires":[]},{"id":"79e6812.e9bc88","type":"udp out","z":"6436dcd7.08f434","name":"","addr":"192.168.0.59","iface":"","port":"34988","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":870,"y":1260,"wires":[]},{"id":"f4b75184.10f73","type":"function","z":"6436dcd7.08f434","name":"MQTT-SN sender","func":"// Takes a payload and topic and makes a QoS -1\n// MQTT-SN message buffer out of it.\n\nfunction makeMqttsBuffer(topic,message) {\n    var buf;\n    var p=0;\n    var len = topic.length + message.length + 7;\n    if (len > 254) {\n        p=2;\n        buf = new Buffer(topic.length + message.length + 7 + p);\n        buf[0] = 1;\n        buf[1] = parseInt((len+p)/256);\n        buf[2] = parseInt((len+p)%256);\n    }\n    else {\n        buf = new Buffer(topic.length + message.length + 7 + p);\n        buf[0] = len;\n    }\n    buf[1+p] = 12;\n    buf[2+p] = 96;\n    buf[3+p] = parseInt(topic.length/256);\n    buf[4+p] = parseInt(topic.length%256);\n    buf[5+p] = 32;\n    buf[6+p] = 32;\n    for (var i = 0; i < topic.length ; i++) {\n        buf[7+i+p] = topic.charCodeAt(i);\n    }\n    for (var i = 0; i < message.length ; i++) {\n        buf[7+topic.length+i+p] = message.charCodeAt(i);\n    }\n    return buf;\n}\n\nmsg.payload = makeMqttsBuffer(msg.topic, msg.payload);\nmsg.type = 'sender';\nreturn msg;","outputs":1,"noerr":0,"x":496.00000381469727,"y":1360.0000314712524,"wires":[["600e4aa5.1d9f94","26416a58.958186"]]},{"id":"259aa1c7.49068e","type":"inject","z":"6436dcd7.08f434","name":"","topic":"Hello","payload":"Dave","payloadType":"str","repeat":"","crontab":"","once":false,"x":320.00002670288086,"y":1373.9999952316284,"wires":[["f4b75184.10f73"]]},{"id":"600e4aa5.1d9f94","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"true","x":882,"y":1423,"wires":[]},{"id":"e502fe0.5b6cf","type":"udp in","z":"6436dcd7.08f434","name":"listener","iface":"","port":"1881","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":280,"y":1456,"wires":[["2c7e74cd.01f16c"]]},{"id":"2c7e74cd.01f16c","type":"function","z":"6436dcd7.08f434","name":"MQTT-SN receiver","func":"msg.type = 'receiver';\nreturn msg;","outputs":1,"x":575,"y":1453,"wires":[["600e4aa5.1d9f94"]]},{"id":"26416a58.958186","type":"delay","z":"6436dcd7.08f434","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":679,"y":1316,"wires":[["79e6812.e9bc88"]]},{"id":"5c641575.2e486c","type":"wemo-emulator","z":"6436dcd7.08f434","name":"kitchen","friendlyName":"kitchen","serial":"123456","port":"40123","onTopic":"ont","onPayload":"on","offTopic":"oft","offPayload":"off","x":190,"y":1699,"wires":[["ad6fb34e.7897d"]]},{"id":"ad6fb34e.7897d","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"true","x":380,"y":1700,"wires":[]},{"id":"d514372e.5a8e88","type":"wemo-emulator","z":"6436dcd7.08f434","name":"eating lights","friendlyName":"eating lights","serial":"121212","port":"40124","onTopic":"eat","onPayload":"on","offTopic":"eatt","offPayload":"off","x":190,"y":1820,"wires":[["ad6fb34e.7897d","c398c644.7eab88"]]},{"id":"c398c644.7eab88","type":"function","z":"6436dcd7.08f434","name":"","func":"var veramsg = {payload:{}};\nif (msg.payload == \"on\") {\n    veramsg.payload.value = 1;\n}  \nelse {\n    veramsg.payload.value = 0;\n}\nveramsg.payload.id = 11;\nveramsg.payload.type = \"Switch\";\nnode.send(veramsg);\n","outputs":1,"noerr":0,"x":680,"y":1800,"wires":[["a6390c79.66202"]]},{"id":"a6390c79.66202","type":"subflow:69832348.ba1dec","z":"6436dcd7.08f434","x":940,"y":1800,"wires":[]},{"id":"f5d8cd65.fadac","type":"http in","z":"ff32f0cf.4ecb2","name":"Echo request","url":"/smarthome","method":"post","swaggerDoc":"","x":75,"y":227.54074096679688,"wires":[["12dd7d25.f9a4c3","8e4570bf.20dac"]]},{"id":"26c08be0.e08324","type":"http response","z":"ff32f0cf.4ecb2","name":"","x":1624.0790710449219,"y":297.19420623779297,"wires":[]},{"id":"9874ab06.29c4a8","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":false,"console":"false","complete":"payload","x":541.7514038085938,"y":61.672271728515625,"wires":[]},{"id":"9046d23a.f9de3","type":"switch","z":"ff32f0cf.4ecb2","name":"check namespace","property":"req.body.header.namespace","propertyType":"msg","rules":[{"t":"eq","v":"Alexa.ConnectedHome.Discovery","vt":"str"},{"t":"eq","v":"Alexa.ConnectedHome.System","vt":"str"},{"t":"eq","v":"Alexa.ConnectedHome.Control","vt":"str"}],"checkall":"true","outputs":3,"x":530,"y":220,"wires":[["44c7c1aa.c248c"],["27f21e9d.3dd452"],["911cbc4.bcdf54","136a9b70.28b125","38e30322.da0d3c"]]},{"id":"396f7192.d31d4e","type":"template","z":"ff32f0cf.4ecb2","name":"Discovery Response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n    \"messageId\": \"{{_msgid}}\",\n    \"namespace\": \"Alexa.ConnectedHome.Discovery\",\n    \"name\": \"DiscoverAppliancesResponse\",\n    \"payloadVersion\": \"2\"\n    \n},\n    \"payload\": {\n    \"discoveredAppliances\": [\n        {\n            \"actions\": [\n                \"turnOn\",\n                \"turnOff\",\n                \"setPercentage\",\n                \"incrementPercentage\",\n                \"decrementPercentage\"\n            ],\n            \"additionalApplianceDetails\": {\n                \"extraDetail1\": \"optionalDetailForSkillAdapterToReferenceThisDevice\",\n                \"extraDetail2\": \"There can be multiple entries\",\n                \"extraDetail3\": \"but they should only be used for reference purposes.\",\n                \"extraDetail4\": \"This is not a suitable place to maintain current device state\"\n            },\n            \"applianceId\": \"testlight\",\n            \"friendlyName\": \"Test Light\",\n            \"friendlyDescription\": \"My test light in the office\",\n            \"isReachable\": true,\n            \"manufacturerName\": \"jonn26 inc.\",\n            \"modelName\": \"TESTDIMABLELIGHT01\",\n            \"version\": \"VER01\"\n        },\n        {\n            \"actions\": [\n                \"incrementTargetTemperature\",\n                \"decrementTargetTemperature\",\n                \"setTargetTemperature\"\n            ],\n            \"additionalApplianceDetails\": {},\n            \"applianceId\": \"thermostat\",\n            \"friendlyName\": \"Test Thermostat\",\n            \"friendlyDescription\": \"Test Thermostat in the livingroom\",\n            \"isReachable\": true,\n            \"manufacturerName\": \"jonn26 inc.\",\n            \"modelName\": \"TESTTHERMOSTAT01\",\n            \"version\": \"VER01\"\n        }\n    ]\n}\n}","x":820,"y":1100,"wires":[[]]},{"id":"12dd7d25.f9a4c3","type":"http request","z":"ff32f0cf.4ecb2","name":"verify oauth token","method":"GET","ret":"obj","url":"https://api.amazon.com/user/profile?access_token={{req.body.payload.accessToken}}","tls":"","x":200.72222900390625,"y":295.55556297302246,"wires":[["4f6c88cb.2717d8"]]},{"id":"27f21e9d.3dd452","type":"switch","z":"ff32f0cf.4ecb2","name":"HealthCheckRequest","property":"req.body.header.name","propertyType":"msg","rules":[{"t":"eq","v":"HealthCheckRequest","vt":"str"}],"checkall":"true","outputs":1,"x":760,"y":220,"wires":[["d8590586.2036a8"]]},{"id":"d8590586.2036a8","type":"template","z":"ff32f0cf.4ecb2","name":"HealthCheckResponse","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"messageId\": \"{{_msgid}}\",\n        \"name\": \"HealthCheckResponse\",\n        \"namespace\": \"Alexa.ConnectedHome.System\",\n        \"payloadVersion\": \"2\"\n    },\n    \"payload\": {\n        \"description\": \"The system is currently healthy\",\n        \"isHealthy\": true\n    }\n}","x":1050,"y":220,"wires":[["26c08be0.e08324"]]},{"id":"44c7c1aa.c248c","type":"switch","z":"ff32f0cf.4ecb2","name":"DiscoverAppliancesRequest","property":"req.body.header.name","propertyType":"msg","rules":[{"t":"eq","v":"DiscoverAppliancesRequest","vt":"str"}],"checkall":"true","outputs":1,"x":780,"y":160,"wires":[["dc500bef.3b93a8"]]},{"id":"8e4570bf.20dac","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":false,"console":"false","complete":"req.body","x":299.7300262451172,"y":102.07900810241699,"wires":[]},{"id":"ba1b56df.c8a508","type":"change","z":"ff32f0cf.4ecb2","name":"invalid oauth key return error 401","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":603.2853698730469,"y":291.7456588745117,"wires":[["26c08be0.e08324"]]},{"id":"4f6c88cb.2717d8","type":"switch","z":"ff32f0cf.4ecb2","name":"verify e-mail","property":"payload.email","propertyType":"msg","rules":[{"t":"eq","v":"ferd.scheepers@mamahuhu.nl","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":331.2421875,"y":219.9453125,"wires":[["9046d23a.f9de3","9874ab06.29c4a8"],["ba1b56df.c8a508","3f096f65.96691"]]},{"id":"3f096f65.96691","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":false,"console":"false","complete":"payload","x":530,"y":140,"wires":[]},{"id":"911cbc4.bcdf54","type":"switch","z":"ff32f0cf.4ecb2","name":"applianceid","property":"req.body.payload.appliance.applianceId","propertyType":"msg","rules":[{"t":"eq","v":"complight","vt":"str"},{"t":"eq","v":"thermostat","vt":"str"}],"checkall":"true","outputs":2,"x":730,"y":920,"wires":[["53b3d73.312f428"],["8c98980f.e1d238"]]},{"id":"53b3d73.312f428","type":"change","z":"ff32f0cf.4ecb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.header.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":916.7698669433594,"y":881.9765701293945,"wires":[["169242c4.5126cd","8b6a64c8.358878"]]},{"id":"f0ad6fd8.55003","type":"template","z":"ff32f0cf.4ecb2","name":"ControlResponse","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"messageId\": \"{{_msgid}}\",\n        \"name\": \"{{payload}}\",\n        \"namespace\": \"Alexa.ConnectedHome.Control\",\n        \"payloadVersion\": \"2\"\n    },\n    \"payload\": {}\n}\n","x":1430,"y":460,"wires":[["26c08be0.e08324"]]},{"id":"ab523087.927a5","type":"change","z":"ff32f0cf.4ecb2","name":"set confirmation","rules":[{"t":"change","p":"payload","pt":"msg","from":"TurnOnRequest","fromt":"str","to":"TurnOnConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TurnOffRequest","fromt":"str","to":"TurnOffConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"SetPercentageRequest","fromt":"str","to":"SetPercentageConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"DecrementPercentageRequest","fromt":"str","to":"DecrementPercentageConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"IncrementPercentageRequest","fromt":"str","to":"IncrementPercentageConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"IncrementTargetTemperatureRequest","fromt":"str","to":"IncrementTargetTemperatureConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"SetLockStateRequest","fromt":"str","to":"SetLockStateConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"SetTargetTemperatureRequest","fromt":"str","to":"SetTargetTemperatureConfirmation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":460,"wires":[["f0ad6fd8.55003"]]},{"id":"169242c4.5126cd","type":"switch","z":"ff32f0cf.4ecb2","name":"On / Off / Percentage","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"true","outputs":3,"x":1176.5833435058594,"y":805.721321105957,"wires":[["fa2e8a41.eacc58"],["5bb2d161.96d24"],["ef5fdafb.171d28"]]},{"id":"ef5fdafb.171d28","type":"change","z":"ff32f0cf.4ecb2","name":"testlight percent","rules":[{"t":"set","p":"topic","pt":"msg","to":"testlight","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"req.body.payload.percentageState.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1415.1389083862305,"y":844.0546913146973,"wires":[["b46b8492.c194b8"]]},{"id":"fa2e8a41.eacc58","type":"change","z":"ff32f0cf.4ecb2","name":"testlight on","rules":[{"t":"set","p":"topic","pt":"msg","to":"testlight","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1406.4165954589844,"y":767.721321105957,"wires":[["b46b8492.c194b8"]]},{"id":"5bb2d161.96d24","type":"change","z":"ff32f0cf.4ecb2","name":"testlight off","rules":[{"t":"set","p":"topic","pt":"msg","to":"testlight","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1404.8610534667969,"y":805.9435653686523,"wires":[["b46b8492.c194b8"]]},{"id":"88b76a15.b02728","type":"comment","z":"ff32f0cf.4ecb2","name":"Edit DiscoveryResponse with your device names","info":"See the following for details on the fields:\n\nhttps://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/smart-home-skill-api-reference","x":1100,"y":120,"wires":[]},{"id":"b46b8492.c194b8","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":false,"console":"false","complete":"false","x":1648.5649108886719,"y":806.2768936157227,"wires":[]},{"id":"d3265dbc.79b6a","type":"comment","z":"ff32f0cf.4ecb2","name":"ControlRequest","info":"","x":729.6758728027344,"y":876.4620742797852,"wires":[]},{"id":"ee4ac09c.7c848","type":"comment","z":"ff32f0cf.4ecb2","name":"Edit your e-mail address here","info":"This flow assumes you are using \"login with amazon\"\n\nedit the verify e-mail node with your amazon linked e-mail address.","x":342.0370635986328,"y":177.4074182510376,"wires":[]},{"id":"6ddd04d6.07f8ec","type":"comment","z":"ff32f0cf.4ecb2","name":"testlight","info":"","x":876.5834045410156,"y":848.0546951293945,"wires":[]},{"id":"8c98980f.e1d238","type":"change","z":"ff32f0cf.4ecb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.header.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":914.4165954589844,"y":960.7214126586914,"wires":[["2304540c.14c20c"]]},{"id":"2304540c.14c20c","type":"switch","z":"ff32f0cf.4ecb2","name":"Set / Incr / Decr","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"}],"checkall":"true","outputs":3,"x":1149.4165954589844,"y":1009.7214126586914,"wires":[[],[],[]]},{"id":"e006837a.6be1","type":"comment","z":"ff32f0cf.4ecb2","name":"thermostat","info":"","x":885.4165954589844,"y":927.7214126586914,"wires":[]},{"id":"270f96b3.6721ba","type":"comment","z":"ff32f0cf.4ecb2","name":"Thermostat Work-In-Progress","info":"","x":1159.5833435058594,"y":951.0547866821289,"wires":[]},{"id":"dc500bef.3b93a8","type":"function","z":"ff32f0cf.4ecb2","name":"Discovery response","func":"var appliance_array = []\nvar id_array = global.get(\"foo\");\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Alexa) {\n        if (id_array[i].Type == 'Switch') {\n            var appliance = {\n                \"actions\": [\n                    \"turnOn\",\n                    \"turnOff\"\n                ],\n                \"additionalApplianceDetails\": {\n                    \"extraDetail1\": \"optionalDetailForSkillAdapterToReferenceThisDevice\",\n                    \"extraDetail2\": \"There can be multiple entries\",\n                    \"extraDetail3\": \"but they should only be used for reference purposes.\",\n                    \"extraDetail4\": \"This is not a suitable place to maintain current device state\"\n                },\n                \"applianceId\": id_array[i].Alexa.id,\n                \"friendlyName\": id_array[i].Alexa.friendlyname,\n                \"friendlyDescription\": id_array[i].Alexa.friendlydesc,\n                \"isReachable\": true,\n                \"manufacturerName\": \"Parmenion inc.\",\n                \"modelName\": \"TESTLIGHT01\",\n                \"version\": \"VER01\"\n            }\n            appliance_array.push(appliance); \n        }\n        if (id_array[i].Type == 'Dimmer') {\n            var appliance = {\n                \"actions\": [\n                    \"turnOn\",\n                    \"turnOff\",\n                    \"setPercentage\",\n                    \"incrementPercentage\",\n                    \"decrementPercentage\"\n                ],\n                \"additionalApplianceDetails\": {\n                    \"extraDetail1\": \"optionalDetailForSkillAdapterToReferenceThisDevice\",\n                    \"extraDetail2\": \"There can be multiple entries\",\n                    \"extraDetail3\": \"but they should only be used for reference purposes.\",\n                    \"extraDetail4\": \"This is not a suitable place to maintain current device state\"\n                },\n                \"applianceId\": id_array[i].Alexa.id,\n                \"friendlyName\": id_array[i].Alexa.friendlyname,\n                \"friendlyDescription\": id_array[i].Alexa.friendlydesc,\n                \"isReachable\": true,\n                \"manufacturerName\": \"Parmenion inc.\",\n                \"modelName\": \"TESTLIGHT01\",\n                \"version\": \"VER01\"\n            }\n            appliance_array.push(appliance); \n        }\n    }\n}\n\nmsg.payload = {\n    \"header\": {\n    \"messageId\": msg._msgid,\n    \"namespace\": \"Alexa.ConnectedHome.Discovery\",\n    \"name\": \"DiscoverAppliancesResponse\",\n    \"payloadVersion\": \"2\"\n    },\n    \"payload\": {\n    \"discoveredAppliances\": appliance_array\n    }\n}    \n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":160,"wires":[["26c08be0.e08324"]]},{"id":"136a9b70.28b125","type":"function","z":"ff32f0cf.4ecb2","name":"HandleHomeControl","func":"var globval = {};\nvar intmsg = {};\nvar inter = {};\nvar veramsg = {payload:{}};\nvar id_array = global.get(\"foo\");\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Alexa) {\n        if (id_array[i].Alexa.id == msg.req.body.payload.appliance.applianceId) {\n            var globvar = id_array[i].Internal.split('/')[3]+id_array[i].Internal.split('/')[4];\n            if (id_array[i].Type == 'Switch') {\n                if (msg.req.body.header.name == 'TurnOnRequest') {\n                    inter.state = 'on';\n                    globval.state = 1;\n                    if (id_array[i].Vera) {\n                        veramsg.payload.value = 1;\n                        veramsg.payload.id = id_array[i].Vera;\n                        veramsg.payload.type = id_array[i].Type;\n                    }        \n                }\n                else if (msg.req.body.header.name == 'TurnOffRequest') {\n                    inter.state = 'off';\n                    globval.state = 0;\n                    if (id_array[i].Vera) {\n                        veramsg.payload.value = 0;\n                        veramsg.payload.id = id_array[i].Vera;\n                        veramsg.payload.type = id_array[i].Type;\n                    }\n                }\n            }    \n            global.set(globvar,globval);\n            inter.type = id_array[i].Type;\n            \n            intmsg = {payload: JSON.stringify(inter), topic: id_array[i].Internal};\n            \n            node.warn(id_array[i].Alexa.friendlyname);\n            msg.payload = msg.req.body.header.name;\n            node.send([intmsg, veramsg, msg]);\n        }\n    }\n}","outputs":"3","noerr":0,"x":820,"y":400,"wires":[["f762e200.5ab77","133c3571.0600eb"],["ce3a13cf.34749","f762e200.5ab77"],["ab523087.927a5","f762e200.5ab77"]]},{"id":"38e30322.da0d3c","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":false,"console":"false","complete":"true","x":810,"y":80,"wires":[]},{"id":"f762e200.5ab77","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":true,"console":"false","complete":"true","x":1050,"y":320,"wires":[]},{"id":"8b6a64c8.358878","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":false,"console":"false","complete":"true","x":1443.75,"y":997.0547027587891,"wires":[]},{"id":"ce3a13cf.34749","type":"subflow:69832348.ba1dec","z":"ff32f0cf.4ecb2","x":1190,"y":400,"wires":[]},{"id":"133c3571.0600eb","type":"mqtt out","z":"ff32f0cf.4ecb2","name":"","topic":"","qos":"","retain":"","broker":"a9d96750.0067d8","x":1190,"y":340,"wires":[]},{"id":"b66a2ecc.8158c","type":"http in","z":"ff32f0cf.4ecb2","name":"test","url":"/marvin","method":"post","swaggerDoc":"","x":50,"y":600,"wires":[["b1cc73b1.5779d","e4a8d01b.645c1","b1be3abd.471668"]]},{"id":"b1cc73b1.5779d","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":false,"console":"false","complete":"false","x":260,"y":600,"wires":[]},{"id":"e4a8d01b.645c1","type":"function","z":"ff32f0cf.4ecb2","name":"Create Post Resp","func":"msg.payload = \"I have received something!\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":720,"wires":[["f8204db3.f0ae2"]]},{"id":"f8204db3.f0ae2","type":"http response","z":"ff32f0cf.4ecb2","name":"LoRa Post Catcher","x":469.00006103515625,"y":719,"wires":[]},{"id":"b1be3abd.471668","type":"function","z":"ff32f0cf.4ecb2","name":"","func":"msg.payload = msg.payload.DevEUI_uplink.payload_hex;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":860,"wires":[["7ec863aa.ea588c"]]},{"id":"7ec863aa.ea588c","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":true,"console":"false","complete":"false","x":380,"y":860,"wires":[]},{"id":"5258b1e1.63f4f","type":"mqtt out","z":"6436dcd7.08f434","name":"","topic":"inTopic","qos":"","retain":"","broker":"f017e0bd.996dd","x":1910,"y":720,"wires":[]},{"id":"eda36ac2.670578","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"light on","payloadType":"str","repeat":"","crontab":"","once":false,"x":1670,"y":740,"wires":[["5258b1e1.63f4f"]]},{"id":"70883aa5.b8dbc4","type":"mqtt in","z":"6436dcd7.08f434","name":"input from switch","topic":"Event/Esp/Sw1","qos":"2","broker":"f017e0bd.996dd","x":1110,"y":920,"wires":[["704235a2.0a3c6c"]]},{"id":"704235a2.0a3c6c","type":"function","z":"6436dcd7.08f434","name":"","func":"l1 = global.get('l1')\nif (msg.payload == 'push') {\n    if (l1 == 'on') {\n        msg.payload = 'light off';\n        l1='off';\n    } else {\n        msg.payload = 'light on';\n        l1='on';\n    }\n    global.set('l1', l1)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1480,"y":920,"wires":[["5258b1e1.63f4f"]]},{"id":"7170e86d.f3ab28","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"light off","payloadType":"str","repeat":"","crontab":"","once":false,"x":1670,"y":700,"wires":[["5258b1e1.63f4f"]]},{"id":"8fe4dc2e.8476","type":"function","z":"d0ead32e.7ebd5","name":"Parse DSMR","func":"var ppacket = parsePacket(msg.payload);\nmsg.payload = ppacket;\nreturn msg;\n\n\nfunction parsePacket(packet) {\n    var lines = packet.split(/\\r\\n|\\n|\\r/);\n    var parsedPacket = {\n        meterType: lines[0].substring(1),\n        version: null,\n        timestamp: null,\n        equipmentId: null,\n        textMessage: {\n            codes: null,\n            message: null\n        },\n        electricity: {\n            received: {\n                tariff1: {\n                    reading: null,\n                    unit: null\n                },\n                tariff2: {\n                    reading: null,\n                    unit: null\n                },\n                actual: {\n                    reading: null,\n                    unit: null\n                }\n            },\n            delivered: {\n                tariff1: {\n                    reading: null,\n                    unit: null\n                },\n                tariff2: {\n                    reading: null,\n                    unit: null\n                },\n                actual: {\n                    reading: null,\n                    unit: null\n                }\n            },\n            tariffIndicator: null,\n            threshold: null,\n            switchPosition: null,\n            numberOfPowerFailures: null,\n            numberOfLongPowerFailures: null,\n            longPowerFailureLog: null,\n            voltageSags: {\n                L1: null,\n                L2: null,\n                L3: null\n            },\n            voltageSwell: {\n                L1: null,\n                L2: null,\n                L3: null\n            },\n            instantaneous: {\n                current: {\n                    L1: {\n                        reading: null,\n                        unit: null\n                    },\n                    L2: {\n                        reading: null,\n                        unit: null\n                    },\n                    L3: {\n                        reading: null,\n                        unit: null\n                    }\n                },\n                voltage: {\n                    L1: {\n                        reading: null,\n                        unit: null\n                    },\n                    L2: {\n                        reading: null,\n                        unit: null\n                    },\n                    L3: {\n                        reading: null,\n                        unit: null\n                    }\n                },\n                power: {\n                    positive: {\n                        L1: {\n                            reading: null,\n                            unit: null\n                        },\n                        L2: {\n                            reading: null,\n                            unit: null\n                        },\n                        L3: {\n                            reading: null,\n                            unit: null\n                        }\n                    },\n                    negative: {\n                        L1: {\n                            reading: null,\n                            unit: null\n                        },\n                        L2: {\n                            reading: null,\n                            unit: null\n                        },\n                        L3: {\n                            reading: null,\n                            unit: null\n                        }\n                    }\n                }\n            }\n        },\n        gas: {\n            deviceType: null,\n            equipmentId: null,\n            timestamp: null,\n            reading: null,\n            unit: null,\n            valvePosition: null\n        }\n    };\n\n    // Start parsing at line 3 since first two lines contain the header and an empty row\n    for (var i = 2; i < lines.length; i++) {\n        if (lines[i] != \"\") {\n            var line = _parseLine(lines[i]);\n\n            switch (line.obisCode) {\n                case \"1-3:0.2.8\":\n                    parsedPacket.version = line.value;\n                    break;\n\n                case \"0-0:1.0.0\":\n                    parsedPacket.timestamp = _parseTimestamp(line.value);\n                    break;\n\n                case \"0-0:96.1.1\":\n                    parsedPacket.equipmentId = line.value;\n                    break;\n\n                case \"0-0:96.13.1\":\n                    parsedPacket.textMessage.codes = line.value;\n                    break;\n\n                case \"0-0:96.13.0\":\n                    parsedPacket.textMessage.message = _convertHexToAscii(line.value);\n                    break;\n\n                case \"1-0:1.8.1\":\n                    parsedPacket.electricity.received.tariff1.reading = parseFloat(line.value);\n                    parsedPacket.electricity.received.tariff1.unit = line.unit;\n                    break;\n\n                case \"1-0:1.8.2\":\n                    parsedPacket.electricity.received.tariff2.reading = parseFloat(line.value);\n                    parsedPacket.electricity.received.tariff2.unit = line.unit;\n                    break;\n\n                case \"1-0:2.8.1\":\n                    parsedPacket.electricity.delivered.tariff1.reading = parseFloat(line.value);\n                    parsedPacket.electricity.delivered.tariff1.unit = line.unit;\n                    break;\n\n                case \"1-0:2.8.2\":\n                    parsedPacket.electricity.delivered.tariff2.reading = parseFloat(line.value);\n                    parsedPacket.electricity.delivered.tariff2.unit = line.unit;\n                    break;\n\n                case \"0-0:96.14.0\":\n                    parsedPacket.electricity.tariffIndicator = parseInt(line.value);\n                    break;\n\n                case \"1-0:1.7.0\":\n                    parsedPacket.electricity.received.actual.reading = parseFloat(line.value);\n                    parsedPacket.electricity.received.actual.unit = line.unit;\n                    break;\n\n                case \"1-0:2.7.0\":\n                    parsedPacket.electricity.delivered.actual.reading = parseFloat(line.value);\n                    parsedPacket.electricity.delivered.actual.unit = line.unit;\n                    break;\n\n                case \"0-0:17.0.0\":\n                    parsedPacket.electricity.threshold = {};\n                    parsedPacket.electricity.threshold.value = parseFloat(line.value);\n                    parsedPacket.electricity.threshold.unit = line.unit;\n                    break;\n\n                case \"0-0:96.3.10\":\n                    parsedPacket.electricity.switchPosition = line.value;\n                    break;\n\n                case \"0-0:96.7.21\":\n                    parsedPacket.electricity.numberOfPowerFailures = parseInt(line.value);\n                    break;\n\n                case \"0-0:96.7.9\":\n                    parsedPacket.electricity.numberOfLongPowerFailures = parseInt(line.value);\n                    break;\n\n                case \"1-0:99.97.0\":\n                    parsedPacket.electricity.longPowerFailureLog = _parsePowerFailureEventLog(line.value);\n                    break;\n\n                case \"1-0:32.32.0\":\n                    parsedPacket.electricity.voltageSags.L1 = parseInt(line.value);\n                    break;\n\n                case \"1-0:52.32.0\":\n                    parsedPacket.electricity.voltageSags.L2 = parseInt(line.value);\n                    break;\n\n                case \"1-0:72.32.0\":\n                    parsedPacket.electricity.voltageSags.L3 = parseInt(line.value);\n                    break;\n\n                case \"1-0:32.36.0\":\n                    parsedPacket.electricity.voltageSwell.L1 = parseInt(line.value);\n                    break;\n\n                case \"1-0:52.36.0\":\n                    parsedPacket.electricity.voltageSwell.L2 = parseInt(line.value);\n                    break;\n\n                case \"1-0:72.36.0\":\n                    parsedPacket.electricity.voltageSwell.L3 = parseInt(line.value);\n                    break;\n\n                case \"1-0:31.7.0\":\n                    parsedPacket.electricity.instantaneous.current.L1.reading = parseInt(line.value);\n                    parsedPacket.electricity.instantaneous.current.L1.unit = line.unit;\n                    break;\n\n                case \"1-0:51.7.0\":\n                    parsedPacket.electricity.instantaneous.current.L2.reading = parseInt(line.value);\n                    parsedPacket.electricity.instantaneous.current.L2.unit = line.unit;\n                    break;\n\n                case \"1-0:71.7.0\":\n                    parsedPacket.electricity.instantaneous.current.L3.reading = parseInt(line.value);\n                    parsedPacket.electricity.instantaneous.current.L3.unit = line.unit;\n                    break;\n\n                case \"1-0:32.7.0\":\n                    parsedPacket.electricity.instantaneous.voltage.L1.reading = parseInt(line.value);\n                    parsedPacket.electricity.instantaneous.voltage.L1.unit = line.unit;\n                    break;\n\n                case \"1-0:52.7.0\":\n                    parsedPacket.electricity.instantaneous.voltage.L2.reading = parseInt(line.value);\n                    parsedPacket.electricity.instantaneous.voltage.L2.unit = line.unit;\n                    break;\n\n                case \"1-0:72.7.0\":\n                    parsedPacket.electricity.instantaneous.voltage.L3.reading = parseInt(line.value);\n                    parsedPacket.electricity.instantaneous.voltage.L3.unit = line.unit;\n                    break;\n\n                case \"1-0:21.7.0\":\n                    parsedPacket.electricity.instantaneous.power.positive.L1.reading = parseFloat(line.value);\n                    parsedPacket.electricity.instantaneous.power.positive.L1.unit = line.unit;\n                    break;\n\n                case \"1-0:41.7.0\":\n                    parsedPacket.electricity.instantaneous.power.positive.L2.reading = parseFloat(line.value);\n                    parsedPacket.electricity.instantaneous.power.positive.L2.unit = line.unit;\n                    break;\n\n                case \"1-0:61.7.0\":\n                    parsedPacket.electricity.instantaneous.power.positive.L3.reading = parseFloat(line.value);\n                    parsedPacket.electricity.instantaneous.power.positive.L3.unit = line.unit;\n                    break;\n\n                case \"1-0:22.7.0\":\n                    parsedPacket.electricity.instantaneous.power.negative.L1.reading = parseFloat(line.value);\n                    parsedPacket.electricity.instantaneous.power.negative.L1.unit = line.unit;\n                    break;\n\n                case \"1-0:42.7.0\":\n                    parsedPacket.electricity.instantaneous.power.negative.L2.reading = parseFloat(line.value);\n                    parsedPacket.electricity.instantaneous.power.negative.L2.unit = line.unit;\n                    break;\n\n                case \"1-0:62.7.0\":\n                    parsedPacket.electricity.instantaneous.power.negative.L3.reading = parseFloat(line.value);\n                    parsedPacket.electricity.instantaneous.power.negative.L3.unit = line.unit;\n                    break;\n\n                /**\n                 * The Smart Meter has 4 M-Bus interfaces which allow to connect external devices like a Gas, Thermal,\n                 * Water or slave Electricity meter. The Obis code of external devices starts with 0-n (where n is a number from 1 to 4)\n                 *\n                 * However, the way to correctly determine the type of external device that is connected to each M-Bus is very poorly documented.\n                 * At the moment only Gas meters are being installed by the grid companies as far as I know.\n                 * So we make the assumption that a gas meter is attached to M-Bus 1.\n                 */\n                case \"0-1:24.1.0\":\n                    parsedPacket.gas.deviceType = line.value;\n                    break;\n\n                case \"0-1:96.1.0\":\n                    parsedPacket.gas.equipmentId = line.value;\n                    break;\n\n                case \"0-1:24.2.1\":\n                    var hourlyReading = _parseHourlyReading(line.value);\n\n                    parsedPacket.gas.timestamp = _parseTimestamp(hourlyReading.timestamp);\n                    parsedPacket.gas.reading = parseFloat(hourlyReading.value);\n                    parsedPacket.gas.unit = hourlyReading.unit;\n                    break;\n\n                case \"0-1:24.4.0\":\n                    parsedPacket.gas.valvePosition = line.value;\n                    break;\n\n                default:\n                    //console.error('Unable to parse line: ' + lines[i]);\n                    break;\n            }\n        }\n    }\n\n    return parsedPacket;\n}\n\n/**\n * Parse a single line of the P1 packet\n *\n * @param line : Single line of format: obisCode(value*unit), example: 1-0:2.8.1(123456.789*kWh)\n */\nfunction _parseLine(line) {\n    var output = {};\n    var split = line.split(/\\((.+)?/); // Split only on first occurence of \"(\"\n\n    if (split[0] && split[1]) {\n        var value = split[1].substring(0, split[1].length - 1);\n\n        output.obisCode = split[0];\n\n        if (value.indexOf(\"*\") > -1 && value.indexOf(\")(\") === -1) {\n            output.value = value.split(\"*\")[0];\n            output.unit = value.split(\"*\")[1];\n        } else {\n            output.value = value;\n        }\n    }\n\n    return output;\n}\n\n/**\n * Parse timestamp\n *\n * @param timestamp : Timestamp of format: YYMMDDhhmmssX\n */\nfunction _parseTimestamp(timestamp) {\n    var parsedTimestamp = new Date();\n\n    parsedTimestamp.setFullYear(parseInt(timestamp.substring(0, 2)) + 2000);\n    parsedTimestamp.setMonth(parseInt(timestamp.substring(2, 4)) - 1);\n    parsedTimestamp.setDate(parseInt(timestamp.substring(4, 6)));\n    parsedTimestamp.setHours(parseInt(timestamp.substring(6, 8)));\n    parsedTimestamp.setMinutes(parseInt(timestamp.substring(8, 10)));\n    parsedTimestamp.setSeconds(parseInt(timestamp.substring(10, 12)));\n    parsedTimestamp.setMilliseconds(0);\n\n    return parsedTimestamp.toISOString();\n}\n\n/**\n * Parse power failure event log\n *\n * @param value : Power failure event log of format: 1)(0-0:96.7.19)(timestamp end)(duration)(timestamp end)(duration...\n */\nfunction _parsePowerFailureEventLog(value) {\n    var split = value.split(\")(0-0:96.7.19)(\");\n\n    var output = {\n        count: parseInt(split[0]) || 0,\n        log: []\n    };\n\n    if (split[1]) {\n        var log = split[1].split(\")(\");\n\n        // Loop the log structure: timestamp)(duration)(timestamp)(duration...\n        for (var i = 0; i <= log.length; i = i + 2) {\n            if (log[i] && log[i + 1]) {\n                var logEntry = {\n                    endOfFailure: _parseTimestamp(log[i]),\n                    duration: parseInt(log[i + 1].split(\"*\")[0]),\n                    unit: log[i + 1].split(\"*\")[1]\n                };\n\n                output.log.push(logEntry);\n            }\n        }\n    }\n\n    return output;\n}\n\n/**\n * Parse hourly readings, which is used for gas, water, heat, cold and slave electricity meters\n *\n * @param reading : Reading of format: (value)(value)\n */\nfunction _parseHourlyReading(reading) {\n    var output = {\n        timestamp: null,\n        value: null,\n        unit: null\n    };\n\n    var split = reading.split(\")(\");\n\n    if (split[0] && split[1]) {\n        output.timestamp = split[0];\n        output.value = split[1].split(\"*\")[0];\n        output.unit = split[1].split(\"*\")[1];\n    }\n\n    return output;\n}\n\n/**\n * Convert a hexadecimal encoded string to readable ASCII characters\n *\n * @param string : Hexadecimal encoded string\n */\nfunction _convertHexToAscii(string) {\n    var output = '';\n\n    for (i = 0; i < string.length; i = i + 2) {\n        output = output + String.fromCharCode(parseInt(string.substr(i, 2), 16));\n    }\n    return output;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":780,"wires":[["89ab7c13.8940e","f6ecd94f.3013f8"]]},{"id":"1d58ddfa.23b882","type":"mqtt in","z":"d0ead32e.7ebd5","name":"P1 event","topic":"Event/P1","qos":"2","broker":"a509d25.29b283","x":100,"y":780,"wires":[["cead41c4.83653","8fe4dc2e.8476"]]},{"id":"bc16ec9d.1db6f","type":"debug","z":"d0ead32e.7ebd5","name":"","active":false,"console":"false","complete":"false","x":870,"y":780,"wires":[]},{"id":"89ab7c13.8940e","type":"function","z":"d0ead32e.7ebd5","name":"Handle gas","func":"msg.payload = msg.payload.gas\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["bc16ec9d.1db6f"]]},{"id":"f6ecd94f.3013f8","type":"function","z":"d0ead32e.7ebd5","name":"Handle electricity","func":"msg.payload=msg.payload.electricity;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":840,"wires":[["c6952d2b.b635f"]]},{"id":"c6952d2b.b635f","type":"debug","z":"d0ead32e.7ebd5","name":"","active":false,"console":"false","complete":"false","x":870,"y":840,"wires":[]},{"id":"da114fb9.292a9","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"u","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1140,"wires":[["5ecf2efa.2bdb4"]]},{"id":"5ecf2efa.2bdb4","type":"mqtt out","z":"6436dcd7.08f434","name":"","topic":"inTopic2","qos":"","retain":"","broker":"f017e0bd.996dd","x":390,"y":1140,"wires":[]},{"id":"b5b6421b.03437","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"d","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":1200,"wires":[["5ecf2efa.2bdb4"]]},{"id":"d669f69.d9e0b08","type":"mqtt out","z":"7798f15d.db205","name":"Esp","topic":"","qos":"","retain":"","broker":"b41e0cf2.cd739","x":510,"y":140,"wires":[]},{"id":"e99b2151.5a9bd","type":"mqtt in","z":"6436dcd7.08f434","name":"","topic":"Command/Esp/Bl1","qos":"2","broker":"f017e0bd.996dd","x":260,"y":1560,"wires":[["7a2a3293.b3788c"]]},{"id":"7a2a3293.b3788c","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"false","x":500,"y":1560,"wires":[]},{"id":"92210044.5a72a","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"console":"false","complete":"true","x":1140,"y":400,"wires":[]},{"id":"3d81101.334faf","type":"alexa-local","z":"6436dcd7.08f434","devicename":"gym lights","inputtrigger":true,"x":900,"y":380,"wires":[["92210044.5a72a"]]},{"id":"c0319783.2d34b8","type":"alexa-local","z":"6436dcd7.08f434","devicename":"TV lights","inputtrigger":false,"x":900,"y":320,"wires":[["92210044.5a72a"]]},{"id":"b7323a6f.00f798","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1677,"y":2055,"wires":[]},{"id":"6c7f6d79.f8d584","type":"DataOut","z":"6436dcd7.08f434","collection":"cccc896.b680478","name":"","path":"/","error":false,"x":1550,"y":2101,"wires":[["b7323a6f.00f798"]]},{"id":"a1cc7477.067ff8","type":"change","z":"6436dcd7.08f434","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/State/Secondfloor/Bathroom/Temperature1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1368,"y":2098,"wires":[["6c7f6d79.f8d584"]]},{"id":"c6e3c556.2e6808","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":1260,"y":2036,"wires":[["a1cc7477.067ff8"]]},{"id":"b78f09a6.c1ba68","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1230,"y":1869,"wires":[["c7de263a.734088"]]},{"id":"c7de263a.734088","type":"change","z":"6436dcd7.08f434","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/myRootTest/currentTime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1421,"y":1949,"wires":[["d2c0349a.6f08f8"]]},{"id":"d2c0349a.6f08f8","type":"DataIn","z":"6436dcd7.08f434","collection":"cccc896.b680478","name":"","update":false,"path":"/","x":1538,"y":2021,"wires":[]},{"id":"8da99f7.ee0f06","type":"comment","z":"6436dcd7.08f434","name":"Help Set Data","info":"Push to set the /myRootTest/currentTime as the current time in the collection Test","x":1241,"y":1814,"wires":[]},{"id":"8da86732.ba3438","type":"comment","z":"6436dcd7.08f434","name":"Help Get Data","info":"Push to get the /myRootTest/currentTime a from the collection Test.\nThat time has been set by the set data.","x":1239,"y":1999,"wires":[]},{"id":"8501e8cd.9dc358","type":"mqtt in","z":"6436dcd7.08f434","name":"internal","topic":"#","qos":"2","broker":"f017e0bd.996dd","x":274,"y":2110,"wires":[["fb99f902.3edb08"]]},{"id":"fb99f902.3edb08","type":"debug","z":"6436dcd7.08f434","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":680,"y":2106,"wires":[]},{"id":"563f81c3.8a221","type":"function","z":"6436dcd7.08f434","name":"Set Global array","func":"globarray = [ {Internal: '/State/Secondfloor/Bathroom/Temperature1', Rfxcom: '0xF601', Vera: '115', Ulux: '3', Master: 'Rfxcom', Type: 'Temp' },\n                 {Internal: '/State/Outside/Shed/TempHum1', Rfxcom: '0x5D02', Vera: '120,122', Pidome: '17', Imp: 'Dev02', Master: 'Rfxcom', Type: 'TempHum'},\n                 {Internal: '/State/Firstfloor/Kitchen/Thermostat1', Evohome: '1002458', Vera: '123', Master: 'Evohome', Type: 'Therm' },\n                 {Internal: '/State/Secondfloor/Bathroom/Thermostat1', Evohome: '1002456', Vera: '128', Master: 'Evohome', Type: 'Therm' },\n                 {Internal: '/State/Thirdfloor/Bedroom/Thermostat1', Evohome: '1002457', Vera: '129', Imp: 'Dev12', Master: 'Evohome', Type: 'Therm' },\n                 {Internal: '/State/Secondfloor/Computerroom/Light1', Vera: '43', Imp: 'Dev01', Alexa: {id: \"complight\", friendlyname: 'computer light', friendlydesc: \"the main light in the computer room\"}, Master: 'Vera', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Kitchen/Blinds1', Vera: '121', Imp: 'Dev04', Esp: 'bl1', Master: 'Esp', Type: 'Blinds'},\n                 {Internal: '/State/Thirdfloor/Bedroom/Blinds1', Vera: '118', Rfxcom: '03040503', Imp: 'Dev13', Master: 'Rfxcom', Type: 'Blinds'},\n                 {Internal: '/State/Thirdfloor/Bedroom/Blinds2', Vera: '119', Rfxcom: '02030402', Imp: 'Dev15', Master: 'Rfxcom', Type: 'Blinds'},\n                 {Internal: '/State/Outside/Frontdoor/Doorbell', Rfxcom: '0x010856C2', Camera: 'Front', Master: 'Rfxcom', Type: 'Doorbell'},\n                 {Internal: '/State/None/Virtual/Holiday', Vera: '58', Imp: 'Dev03', Master: 'Internal', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Kitchen/LightEat', Vera: '11', Imp: 'Dev05', Master: 'Vera', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Kitchen/LightHigh', Vera: '4', Imp: 'Dev06', Master: 'Vera', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Kitchen/LightLow', Vera: '10', Imp: 'Dev07', Master: 'Vera', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Kitchen/LightWork', Vera: '18', Imp: 'Dev08', Master: 'Vera', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Livingroom/LightRight', Vera: '72', Imp: 'Dev09', Master: 'Vera', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Livingroom/LightEnt', Vera: '3', Imp: 'Dev10', Master: 'Vera', Type: 'Switch' },\n                 {Internal: '/State/Firstfloor/Livingroom/LightEat', Vera: '70', Imp: 'Dev11', Alexa: {id: \"dinlight\", friendlyname: 'dinner light', friendlydesc: \"the light over the dinner table\"}, Master: 'Vera', Type: 'Dimmer' },\n                 {Internal: '/State/Thirdfloor/Bedroom/Light1', Vera: '60', Imp: 'Dev14', Master: 'Vera', Type: 'Dimmer' },\n                 {Internal: '/State/Thirdfloor/Bedroom/Sonos1', Sonos: '192.168.0.27', Imp: 'Dev16', Master: 'Sonos', Type: 'Sonos' },\n                 {Internal: '/State/Thirdfloor/Bedroom/Alarm1', Imp: 'Dev17', Master: 'Alarm', Type: 'Alarm' },\n                 {Internal: '/State/Firstfloor/Hallway/UPS', XENups: '1', Master: 'XENups', Type: 'UPS' },\n                 {Internal: '/State/Firstfloor/Livingroom/TVPower', Zwave: '2', Master: 'Zwave', Type: 'PowerSwitch' },\n                 {Internal: '/State/Firstfloor/Livingroom/TV', IMP: 'Dev18', Master: 'Derived', Type: 'TV' }];  \nmsg.payload = globarray;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":2240,"wires":[["84357744.68ba98"]]},{"id":"5f33255a.4ed1bc","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":2240,"wires":[["563f81c3.8a221"]]},{"id":"7fa3acec.4795d4","type":"DataIn","z":"6436dcd7.08f434","collection":"fcbdeb12.0bc918","name":"store globdata array","update":false,"path":"/","x":1440,"y":2240,"wires":[]},{"id":"84357744.68ba98","type":"change","z":"6436dcd7.08f434","name":"","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/globdata","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":2240,"wires":[["7fa3acec.4795d4"]]},{"id":"f6e72f55.96518","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":2320,"wires":[["f79e7730.0dc228"]]},{"id":"f79e7730.0dc228","type":"change","z":"6436dcd7.08f434","name":"set datapath","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/globdata","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2320,"wires":[["3d9f83bb.f139dc"]]},{"id":"3d9f83bb.f139dc","type":"DataOut","z":"6436dcd7.08f434","collection":"fcbdeb12.0bc918","name":"retrieve globdata array","path":"/","error":false,"x":1020,"y":2320,"wires":[["2f3c9472.0f959c"]]},{"id":"2f3c9472.0f959c","type":"function","z":"6436dcd7.08f434","name":"prepare individual retrieves","func":"global.set(\"globdata\",msg.payload);\nid_array = msg.payload\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Type != 'Temp'  && id_array[i].Type != 'TempHum' && id_array[i].Type != 'UPS' && id_array[i].Type != 'Doorbell' && id_array[i].Type != 'PowerSwitch' && id_array[i].Type != 'TV') {\n        msg.datapath = id_array[i].Internal;\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":1300,"y":2320,"wires":[["ae51d7a6.224748"]]},{"id":"d774469c.f2afa8","type":"function","z":"c610050b.126f78","name":"Filter and set collection","func":"var payobj = JSON.parse(msg.payload);\nif (payobj.Type != 'Temp' && payobj.Type != 'TempHum' && payobj.Type != 'PowerSwitch'&& payobj.Type != 'TV' ) {\n    msg.datapath = msg.topic;\n    delete msg.topic;\n    return msg;\n}\nelse {\n    return;\n}","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["d94cfce0.db7d2"]]},{"id":"d94cfce0.db7d2","type":"DataIn","z":"c610050b.126f78","collection":"53d56355.94c04c","name":"store internal state","update":false,"path":"/","x":790,"y":140,"wires":[]},{"id":"ae51d7a6.224748","type":"DataOut","z":"6436dcd7.08f434","collection":"53d56355.94c04c","name":"retrieve state","path":"/","error":false,"x":1550,"y":2320,"wires":[["2d2dd620.e7be8a"]]},{"id":"bb398585.2e35f8","type":"debug","z":"fde5721a.728ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":520,"wires":[]},{"id":"2d2dd620.e7be8a","type":"function","z":"6436dcd7.08f434","name":"Set global state","func":"var payload = JSON.parse(msg.payload);\nvar state = payload.state;\nvar globvar = msg.datapath.split('/')[3]+msg.datapath.split('/')[4];\nvar globval = {};\n//node.warn('type: ' + payload.type);\nif (payload.type=='Switch') {\n    state = state.replace('on', '1');\n    state = state.replace('off', '0');\n}\nelse if (payload.type=='Dimmer') {\n    state = state.replace('on', '1');\n    state = state.replace('off', '0');\n    globval.level = payload.level\n}\nelse if (payload.type=='Blinds') {\n    state = state.replace('up', '100');\n    state = state.replace('down', '0');\n}\nelse if (payload.type=='Sonos') {\n    globval.volume = payload.volume;\n}\nelse if (payload.type=='Alarm') {\n    globval.time = payload.time;\n}\nglobval.state = state\nglobal.set(globvar,globval);\nreturn;","outputs":1,"noerr":0,"x":1760,"y":2320,"wires":[[]]},{"id":"cead41c4.83653","type":"debug","z":"d0ead32e.7ebd5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":860,"wires":[]},{"id":"7233bd63.2cc874","type":"function","z":"c610050b.126f78","name":"ingest alarm","func":"msg.topic = '/State/Thirdfloor/Bedroom/Alarm1'\nvar al = {};\nal.type = 'Alarm';\nal.state = 'off';\nal.time = '07:00';\nmsg.payload = JSON.stringify(al);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["f9ba4917.a30818","6c6834ae.61c8ec"]]},{"id":"f9ba4917.a30818","type":"debug","z":"c610050b.126f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":620,"wires":[]},{"id":"55451a93.f7f3f4","type":"inject","z":"c610050b.126f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["7233bd63.2cc874"]]},{"id":"6c6834ae.61c8ec","type":"mqtt out","z":"c610050b.126f78","name":"","topic":"","qos":"","retain":"","broker":"7cb18d7b.cb9054","x":600,"y":700,"wires":[]},{"id":"2df3500c.241ee","type":"change","z":"e7fcc5d5.5b2d78","name":"set datapath","rules":[{"t":"set","p":"datapath","pt":"msg","to":"/globdata","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":80,"wires":[["bf86afde.1e7df"]]},{"id":"bf86afde.1e7df","type":"DataOut","z":"e7fcc5d5.5b2d78","collection":"fcbdeb12.0bc918","name":"retrieve globdata array","path":"/","error":false,"x":720,"y":80,"wires":[["796b2929.b9a1e8"]]},{"id":"796b2929.b9a1e8","type":"function","z":"e7fcc5d5.5b2d78","name":"prepare individual retrieves","func":"global.set(\"globdata\",msg.payload);\nid_array = msg.payload\nfor (i = 0; i < id_array.length; ++i) {\n    if (id_array[i].Type != 'Temp'  && id_array[i].Type != 'TempHum' && id_array[i].Type != 'UPS' && id_array[i].Type != 'Doorbell' && id_array[i].Type != 'PowerSwitch' && id_array[i].Type != 'TV') {\n        msg.datapath = id_array[i].Internal;\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":1000,"y":80,"wires":[["61a2e345.8c028c"]]},{"id":"61a2e345.8c028c","type":"DataOut","z":"e7fcc5d5.5b2d78","collection":"53d56355.94c04c","name":"retrieve state","path":"/","error":false,"x":1250,"y":80,"wires":[["4c180ec0.f4445"]]},{"id":"4c180ec0.f4445","type":"function","z":"e7fcc5d5.5b2d78","name":"Set global state","func":"var payload = JSON.parse(msg.payload);\nvar state = payload.state;\nvar globvar = msg.datapath.split('/')[3]+msg.datapath.split('/')[4];\nvar globval = {};\nif (payload.type=='Switch') {\n    state = state.replace('on', '1');\n    state = state.replace('off', '0');\n}\nelse if (payload.type=='Dimmer') {\n    state = state.replace('on', '1');\n    state = state.replace('off', '0');\n    globval.level = payload.level\n}\nelse if (payload.type=='Blinds') {\n    state = state.replace('up', '100');\n    state = state.replace('down', '0');\n}\nelse if (payload.type=='Sonos') {\n    globval.volume = payload.volume;\n}\nelse if (payload.type=='Alarm') {\n    globval.time = payload.time;\n}\nglobval.state = state\nglobal.set(globvar,globval);\nreturn;","outputs":1,"noerr":0,"x":1460,"y":80,"wires":[[]]},{"id":"66ce1efb.c943e","type":"debug","z":"4719fb37.a251c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":460,"wires":[]},{"id":"3981e3c6.27222c","type":"evohome-status","z":"e7fcc5d5.5b2d78","confignode":"187b82d3.d5211d","name":"test","interval":"15","x":150,"y":1120,"wires":[["f346f86c.4038f8"]]},{"id":"f346f86c.4038f8","type":"debug","z":"e7fcc5d5.5b2d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":1120,"wires":[]},{"id":"466da177.79e35","type":"inject","z":"1f170ed7.968cd1","name":"Heartbeat","topic":"admin","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":200,"wires":[["e658f63c.31b4b8"]]},{"id":"e658f63c.31b4b8","type":"mqtt out","z":"1f170ed7.968cd1","name":"Heartbeat out","topic":"Heartbeat","qos":"","retain":"","broker":"a9d96750.0067d8","x":440,"y":200,"wires":[]},{"id":"6aad30b2.6a9ca","type":"mqtt in","z":"1f170ed7.968cd1","name":"","topic":"Heartbeat/#","qos":"2","broker":"726ad751.0b6df8","x":750,"y":200,"wires":[["23b36f50.10461"]]},{"id":"23b36f50.10461","type":"debug","z":"1f170ed7.968cd1","name":"","active":false,"console":"false","complete":"false","x":930,"y":200,"wires":[]},{"id":"5dda97d1.1b1028","type":"alexa-local","z":"ff32f0cf.4ecb2","devicename":"sofa","inputtrigger":false,"x":140,"y":1120,"wires":[["cb0ec06c.f8cae"]]},{"id":"cb0ec06c.f8cae","type":"debug","z":"ff32f0cf.4ecb2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":1120,"wires":[]},{"id":"690e74da.006a1c","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"light off","payloadType":"str","repeat":"","crontab":"","once":false,"x":1630,"y":1200,"wires":[[]]},{"id":"b568bb31.36d2a8","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"light on","payloadType":"str","repeat":"","crontab":"","once":false,"x":1630,"y":1240,"wires":[[]]},{"id":"b73413b7.dae0c","type":"mqtt in","z":"d0ead32e.7ebd5","name":"zwave event","topic":"/event/zwave/#","qos":"2","broker":"a509d25.29b283","x":110,"y":940,"wires":[["e215adcd.2d22c","4894bbbc.138354"]]},{"id":"e215adcd.2d22c","type":"debug","z":"d0ead32e.7ebd5","name":"admin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":900,"wires":[]},{"id":"4894bbbc.138354","type":"json","z":"d0ead32e.7ebd5","name":"","property":"payload","action":"","pretty":false,"x":290,"y":980,"wires":[["61ca40b3.839f8"]]},{"id":"61ca40b3.839f8","type":"switch","z":"d0ead32e.7ebd5","name":"Parse zwave","property":"payload.nodeid","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":980,"wires":[["16b169ff.3cdf56"]]},{"id":"16b169ff.3cdf56","type":"function","z":"d0ead32e.7ebd5","name":"Handle TV Power","func":"tv = global.get('LivingroomTV')\ninter = {};\n//node.warn(tv.state);\nif (msg.payload.cmdclass == '37') {\n    // change in state. Only need to handle real shut down.\n    if (msg.payload.currState == 'false' && tv.state == 'on') {\n        node.warn('tv off');\n    //    inter.state = 'off';\n        tv.state = 'off';\n        global.set('LivingroomTV', tv);\n    }\n}\nif (msg.payload.cmdclass == '49') {\n    //change in measured power\n    if (tv.state == 'on' && msg.payload.currState < 30) {\n        node.warn('tv standby');\n        tv.state = 'standby';\n        global.set('LivingroomTV', tv);\n    }\n    if (tv.state != 'on' && msg.payload.currState > 30) {\n        node.warn('tv on');\n        tv.state = 'on';\n        global.set('LivingroomTV', tv);\n    }\n}\n//inter.type = 'tv';\n//var intmsg = {payload: JSON.stringify(inter), topic: id_array[i].Internal};\n//return [intmsg, null];","outputs":2,"noerr":0,"x":750,"y":980,"wires":[[],[]]},{"id":"1a8c5ddf.849542","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":2680,"wires":[["3e3b1ec2.0e69e2"]]},{"id":"3e3b1ec2.0e69e2","type":"function","z":"6436dcd7.08f434","name":"","func":"tv={};\ntv.state = 'on';\nglobal.set('LivingroomTV', tv);\n","outputs":1,"noerr":0,"x":580,"y":2700,"wires":[[]]},{"id":"3250c2c7.39794e","type":"inject","z":"6436dcd7.08f434","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":2600,"wires":[["bf4cfaa2.142518"]]},{"id":"bf4cfaa2.142518","type":"function","z":"6436dcd7.08f434","name":"get globstate","func":"sonos = global.get('BedroomSonos1');\nmsg.payload = sonos;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2600,"wires":[["b66390d7.406f2"]]},{"id":"b66390d7.406f2","type":"debug","z":"6436dcd7.08f434","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":2600,"wires":[]},{"id":"a028544e.0bf628","type":"alexa-local","z":"ff32f0cf.4ecb2","devicename":"TV","inputtrigger":false,"x":150,"y":1280,"wires":[["7c3e13b0.f332bc"]]},{"id":"53c8aed6.8bfc","type":"mqtt out","z":"ff32f0cf.4ecb2","name":"","topic":"inTopic2","qos":"","retain":"","broker":"234e4814.6d96a8","x":1000,"y":1280,"wires":[]},{"id":"7c3e13b0.f332bc","type":"function","z":"ff32f0cf.4ecb2","name":"filter state","func":"tv = global.get('LivingroomTV')\nnode.warn(tv);\nif (msg.payload == 'on' && tv.state == 'standby') {\n    msg.payload = 'light on';\n    return msg;\n}\nif (msg.payload == 'off' && tv.state == 'on') {\n    msg.payload = 'light on';\n    return msg;\n}","outputs":1,"noerr":0,"x":820,"y":1280,"wires":[["53c8aed6.8bfc"]]},{"id":"3088a9b3.c4de06","type":"alexa-local","z":"ff32f0cf.4ecb2","devicename":"Bedtime scene","inputtrigger":false,"x":180,"y":1420,"wires":[["5311e280.3d7f5c"]]},{"id":"5311e280.3d7f5c","type":"switch","z":"ff32f0cf.4ecb2","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1420,"wires":[["361cc24a.01f80e","93dd512c.46757","11b0c834.2555e8"]]},{"id":"361cc24a.01f80e","type":"template","z":"ff32f0cf.4ecb2","name":"tv standby","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"off","output":"str","x":570,"y":1380,"wires":[["7c3e13b0.f332bc"]]},{"id":"93dd512c.46757","type":"template","z":"ff32f0cf.4ecb2","name":"heating off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":570,"y":1420,"wires":[[]]},{"id":"11b0c834.2555e8","type":"delay","z":"ff32f0cf.4ecb2","name":"Delay 1 min","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":1460,"wires":[["47fbd815.2cc3b8"]]},{"id":"47fbd815.2cc3b8","type":"template","z":"ff32f0cf.4ecb2","name":"firstfloor lights off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":790,"y":1460,"wires":[[]]},{"id":"cebf6d9f.744d2","type":"function","z":"1a4faa66.896376","name":"","func":"\n//return msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["1d3c3aad.d5cff5"]]},{"id":"1d3c3aad.d5cff5","type":"subflow:69832348.ba1dec","z":"1a4faa66.896376","x":470,"y":160,"wires":[]}]